/* ///////////////////////////////////////////////////////////////////

common

/////////////////////////////////////////////////////////////////// */

.entry-header {
  width: 94%;
  max-width: var(--parts-max-width);
  margin-left: auto;
  margin-right: auto;
}
.entry-content .parts-item {
  position: relative;
  width: 94%;
  max-width: var(--parts-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--parts-margin);
}

/* ///////////////////////////////////////////////////////////////////

h2-block

/////////////////////////////////////////////////////////////////// */

.entry-content h2.style-title span {
  display: block;
}

/* ///////////////////////////////////////////////////////////////////

voice-block

/////////////////////////////////////////////////////////////////// */

.voice-block {
	background: #FFFFF3;
	border: #D4C09D 1px dotted;
  padding: 14px;
}
.voice-block h2 {
	position: relative;
	margin: 0 0 20px;
  padding: 2% 3%;
	border-radius: 4px;
	background: #666;
	font-size: 28px;
	color: #FFF;
	font-weight: bold;
}
.voice-block h2:after {
	content: "";
	position: absolute;
	left: 14%;
  bottom: -24px;
	border: 12px solid transparent;
	border-top: 12px solid #666;
}
#main .voice-block h2 a {
	color: #FFF;
}
.voice-block .catch-copy {
  margin: 0 0 10px 0;
  font-size: 150%;
  line-height: 1.5;
}
.voice-block .profile {
  margin-bottom: 15px;
}
.voice-block .photo {
  float: left;
  margin:0 20px 15px 0;
  width:200px;
}
.voice-block .photo div {
	margin-bottom: 10px;
}
.voice-block .photo div:last-child {
	margin: 0;
}
.voice-block .photo img {
  width: 100%;
}
.voice-block .staff-box {
  background: #FFF;
  margin: 0 0 25px;
  padding:15px;
	border: solid 1px #E6E6E6;
}
.voice-block .staff-box .staff-photo {
  margin:0 0 10px 10px;
  float:right;
}
.voice-block .youtube{
  text-align:center;
}
.voice-block .youtube iframe{
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  max-width: 640px;
  display: block;
  margin: 0 auto;
}
.voice-block .addition {
	font-size: 12px;
}



@media screen and (max-width: 600px) {
  .voice-block h2 {
    padding: 15px 3%;
    font-size: 24px;
    line-height: 1.2;
  }
  .voice-block .photo,
  .voice-block .ansimg {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    float: none;
    text-align:center;
  }
}


/* ///////////////////////////////////////////////////////////////////

voice-block2

/////////////////////////////////////////////////////////////////// */

.voice-block2 {
	background: #FFFFF3;
	border: #D4C09D 1px dotted;
  margin: 0 0 25px;
  padding: 14px;
  padding-bottom: 24px;
}
.voice-block2 .photo {
	float: right;
	margin-bottom: 10px;
	width: min(240px, 33%);
}
.voice-block2 .text {
	float: left;
  width: calc(97% - min(240px, 33%));
}
.voice-block2 .text h2 {
	margin: 0;
	font-size: 28px;
  line-height: 1.2;
}
.voice-block2 .addition {
	font-size: 12px;
}

.voice-block2 .voice-accordion {
  width: 100%;
}
.voice-block2 .voice-accordion input[type="checkbox"] {
  display: none;
}
.voice-block2 .voice-accordion .voice-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 24px;
  margin-top: 12px;
  transition: opacity 0.3s ease-in-out;
}
.voice-block2 .voice-accordion .voice-content p {
  line-height: 0;
  margin-bottom: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.voice-block2 .voice-accordion .voice-toggle .voice-arrow {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, translateY 0.3s ease-in-out;
}
.voice-block2 .voice-accordion .voice-toggle:hover {
  opacity: .7;
}
.voice-block2 .voice-accordion .voice-toggle:hover .voice-arrow {
  transform: translateY(5px) rotate(45deg);
}
.voice-block2 .voice-accordion input:checked ~ .voice-content p {
  line-height: inherit;
  margin-bottom: 4px;
  opacity: 1;
  transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out 0.2s;
}
.voice-block2 .voice-accordion input:checked ~ .voice-toggle .voice-arrow {
  transform: rotate(-135deg);
}
.voice-block2 .voice-accordion input:checked ~ .voice-toggle:hover .voice-arrow {
  transform: translateY(-5px) rotate(-135deg);
}

@media screen and (max-width: 600px) {
  .voice-block2 .photo {
  	float: none;
    width: 100%;
    margin: 0 auto 16px;
  }
  .voice-block2 .text {
    width: 100%;
    margin-bottom: 16px;
  }
  .voice-block2 .text h2 {
    font-size: 20px;
  }
  .voice-block2 .text .info {
    font-size: 14px;
  }
}


/* ///////////////////////////////////////////////////////////////////

beforeafter-block

/////////////////////////////////////////////////////////////////// */

.beforeafter-block {
  background: #FFFFF3;
  border: #D4C09D 1px dotted;
  padding:14px;
}
.beforeafter-block h2 {
	position: relative;
	margin: 0 0 20px;
  padding: 2% 3%;
	border-radius: 4px;
	background: #666;
	font-size: 28px;
	color: #FFF;
	font-weight: bold;
}
#main .beforeafter-block h2 a {
	color: #FFF;
}
.beforeafter-block .clearfix {
  display: flex;
  justify-content: space-between;
	background-image: url("https://theme.selfull.jp/images/common/arrow-icon-02.png");
	background-repeat: no-repeat;
  background-position: center;
  background-size: 3.6%;
}
.beforeafter-block .clearfix::after {
  content: none;
}
.beforeafter-block .before {
	width: 45%;
	text-align: center;
}
.beforeafter-block .after {
	width: 45%;
	text-align: center;
}
.beforeafter-block .addition {
	font-size: 12px;
}


/* ///////////////////////////////////////////////////////////////////

comment-block-01

/////////////////////////////////////////////////////////////////// */
.comment-block-01 {
  background: #EEE;
  border: #CCC 1px solid;
  border-radius: 7px;
  margin: 0 0 24px;
  margin: 0 0 1.714285714rem;
  padding: 15px 20px;
}
.comment-block-01:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .comment-block-01 {
  zoom: 1;
}
*:first-child+html .comment-block-01 {
  zoom: 1;
}
.comment-block-01 img {
  float: left;
  width: 24%;
}
.comment-block-01 div {
  float: right;
  width: 73%;
}
.comment-block-01 p:last-of-type {
  margin-bottom: 0;
}
/* ///////////////////////////////////////////////////////////////////

comment-block-02

/////////////////////////////////////////////////////////////////// */

.comment-block-02 {
  background: #EEE;
  border: #CCC 1px solid;
  border-radius: 7px;
  margin: 0 0 24px;
  margin: 0 0 1.714285714rem;
  padding: 15px 20px;
}
.comment-block-02:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .comment-block-02 {
  zoom: 1;
}
*:first-child+html .comment-block-02 {
  zoom: 1;
}
.comment-block-02 img {
  float: right;
  width: 24%;
}
.comment-block-02 div {
  float: left;
  width: 73%;
}
.comment-block-02 p:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 600px) {
.comment-block-02 div {
  font-size: 80%;
}
}
/* ///////////////////////////////////////////////////////////////////

float-pic-block-01

/////////////////////////////////////////////////////////////////// */

.float-pic-block-01:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .float-pic-block-01 {
  zoom: 1;
}
*:first-child+html .float-pic-block-01 {
  zoom: 1;
}
.float-pic-block-01 .pic {
  float: left;
  width:320px;
  margin-right: 17px;
  text-align:center;
}
@media screen and (max-width: 600px) {
.float-pic-block-01 .pic {
  float: none;
  width:auto;
  margin-right: 0;
}
}
/* ///////////////////////////////////////////////////////////////////

float-pic-block-02

/////////////////////////////////////////////////////////////////// */

.float-pic-block-02:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .float-pic-block-02 {
  zoom: 1;
}
*:first-child+html .float-pic-block-02 {
  zoom: 1;
}
.float-pic-block-02 .pic {
  float: right;
  margin-left: 17px;
}
@media screen and (max-width: 600px) {
.float-pic-block-02 .pic {
  float: none;
  margin-left: 0;
}
}
/* ///////////////////////////////////////////////////////////////////

list-block

/////////////////////////////////////////////////////////////////// */
.list-block h2,
.list-block h3,
.list-block h4 {
  margin-bottom: 0;
}
.entry-content .list-block ul {
  background: #fff;
  border: #808080 1px solid;
  padding: 25px;
}
.entry-content .list-block ol,
.entry-content .editor ol {
  background: #fff;
  border: #808080 1px solid;
  padding: 25px;
}
.entry-content .list-block ul.check,
.entry-content .editor ul  {
  list-style: none;
  background: #fff;
  border: #808080 1px solid;
  padding: 25px;
}
.list-block ul.check li,
.entry-content .editor ul li {
  background-image: url(https://theme.selfull.jp/images/common/list-icon-01.png);
  background-repeat: no-repeat;
  background-position: left calc(1lh / 2 - 10px);
  margin: 0 0 6px;
  padding: 0 0 0 30px;
}

/* ///////////////////////////////////////////////////////////////////

user-list-block

/////////////////////////////////////////////////////////////////// */
.entry-content .text-block ul,
.entry-content .text-img-block ul {
	overflow: hidden;
  padding: 25px;
  background: #fff;
  border: #808080 1px solid;
  list-style: none;
}
.entry-content .text-block ul li,
.entry-content .text-img-block ul li {
  background: url(https://theme.selfull.jp/images/common/list-icon-01.png) no-repeat left 4px;
  margin: 0 0 6px;
  padding: 0 0 0 30px;
}
.entry-content .text-block ol,
.entry-content .text-img-block ol {
	overflow: hidden;
  background: #fff;
  border: #808080 1px solid;
  padding: 25px;
}

/* ///////////////////////////////////////////////////////////////////

slide-block

/////////////////////////////////////////////////////////////////// */
.slide-block {
	width: 100% !important;
	margin: 25px auto 50px;
}
.slide-block .slick-list {
	margin-bottom: 10px;
}
.slide-block .slide-block-item {
  padding: 0 min(13vw, 120px);
}
.slide-block .slide-block-item .title {
	margin: 25px 0;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}
.slide-block .slide-block-item .img {
	overflow: hidden;
	/* width: 500px; */
	height: 375px;
	position: relative;
}
.slide-block .slide-block-item .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.slide-block .slick-arrow {
	position: absolute;
	top: 31%;
	width: 50px;
	height: 50px;
	background: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	z-index: 1;
	cursor: pointer;
}
.slide-block .slick-arrow{
  transition: .3s;
}
.slide-block .slick-arrow:hover {
  opacity: 0.6;
}
.slide-block .slick-prev {
	/* left: -70px; */
  left: 3%;
	background-image: url("https://theme.selfull.jp/images/common/classic-slide-icon-arrow-l.png");
}
.slide-block .slick-prev:before{
	left: 4px;
	box-sizing: border-box;
	width: 4px;
	height: 4px;
	border: 4px solid transparent;
	border-left: 4px solid #7a0;
}
.slide-block .slick-next {
	/* right: -70px; */
	right: 3%;
	background-image: url("https://theme.selfull.jp/images/common/classic-slide-icon-arrow-r.png");
}
.slide-block .attention {
	text-align: center;
}
.slide-block .attention span {
	display: inline-block;
	padding: 10px 65px 10px 0;
	background-image: url("https://theme.selfull.jp/images/common/slide-icon-01.png");
	background-position: right center;
	background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
  .slide-block {
    width: 100%;
  }
  .slide-block .slick-prev,
  .slide-block .slick-next {
    background-size: 8px auto;
  }
  .slide-block .slide-block-item .title {
    margin: 15px 0 7px;
  }
  .slide-block .slide-block-item .img {
    margin: 0 auto;
    width: 100%;
    height: 210px;
  }
  .slide-block .slide-block-item .img img {
    display: inline;
  }
  .slide-block .slick-arrow {
    position: absolute;
    top: 25%;
    width: 30px;
    height: 30px;
  }
}


/* ///////////////////////////////////////////////////////////////////

button-block

/////////////////////////////////////////////////////////////////// */
.button-block .button {
	position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  height: 48px;
  min-width: 48px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
	border: 1px solid;
  font-size: 16px;
  transition: all 0.3s ease;
  text-decoration: none;
  background-color: #fff;
}
.button-block .button.square {
	border-radius: 0;
}
.button-block .button.rounded {
	border-radius: 4px;
}
.button-block .button.pill {
	border-radius: 100vh;
}
.button-block .button.icon-arrow {
  padding: 0 48px;
}
.button-block .button.icon-arrow::after {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  right: 20px;
  border: solid;
  border-width: 1px 1px 0 0;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  transition: inherit;
}
.button-block .button.icon-arrow:hover::after {
  right: 16px;
}


/* ///////////////////////////////////////////////////////////////////

alternating-block

/////////////////////////////////////////////////////////////////// */
.alternating-block ul li {
  list-style: none;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.alternating-block ul li:nth-child(even) {
  background: rgba(255, 255, 255, .96);
  flex-direction: row-reverse;
}
.alternating-block ul li > div {
  width: 50%;
}
.alternating-block ul li > div.alternating-set-img {
  background-size: cover;
  background-position: center;
}
.alternating-block ul li > div.alternating-set-text {
  display: flex;
  justify-content: flex-start;
  min-height: 240px;
}
.alternating-block ul li:nth-child(even) > div.alternating-set-text {
  justify-content: flex-end;
}
.alternating-block ul li > div.alternating-set-text div.flex-inner {
  width: 100%;
  max-width: calc(var(--parts-max-width) / 2);
  padding: 6%;
}
.alternating-block ul li > div.alternating-set-text div.flex-inner h4 {
  line-height: 1.2;
  font-size: 90%;
  margin: 0 0 16px;
}
.alternating-block ul li > div.alternating-set-text div.flex-inner h3 {
  line-height: 1.2;
  font-size: 160%;
  border-bottom: 1px solid #fff;
  margin: 0 0 24px;
  padding-bottom: 8px;
}
.alternating-block ul li > div.alternating-set-text div.alternating-set-img {
  display: none;
}

@media screen and (max-width: 600px) {
  .alternating-block ul li {
    flex-direction: column;
    padding: 3% 0;
  }
  .alternating-block ul li:nth-child(even) {
    flex-direction: column;
  }
  .alternating-block ul li > div {
    width: 100%;
  }
  .alternating-block ul li > div.alternating-set-text div.flex-inner {
    max-width: 100%;
    padding: 3%;
  }
  .alternating-block ul li > div.alternating-set-img {
    display: none;
  }
  .alternating-block ul li > div.alternating-set-text div.alternating-set-img {
    display: block;
    margin-bottom: 16px;
  }
}




/* ///////////////////////////////////////////////////////////////////

card-block

/////////////////////////////////////////////////////////////////// */
.card-block ul {
  list-style: none;
  margin: 0 auto -60px;
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.card-block ul li {
  position: relative;
  width: 31%;
  margin: 0 1.16% 60px;
  padding: 60px 3% 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-block ul li .card-set-icon-bubble {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 56px;
  height: 56px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
}
.card-block ul li .card-set-icon-bubble::after {
  content: '';
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background-color: inherit;
  clip-path: polygon(50% 120%, 0% 0%, 100% 0%);
  border-radius: 0 0 50% 50%;
}
.card-block ul li h4 {
  line-height: 1.2;
  margin: 0 0 16px;
  font-size: 80%;
  text-align: center;
}
.card-block ul li h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.2;
  font-size: 130%;
  margin: 0 0 16px;
  padding-bottom: 8px;
}
.card-block ul li h3 span {
  padding-bottom: 8px;
  border-bottom: 4px solid #ff8;
}
.card-block ul li div.card-set-img {
  margin-bottom: 16px;
}
.card-block ul li div.card-set-body {
  font-size: 90%;
}

@media screen and (max-width: 840px) {
  .card-block ul li {
    width: 46%;
    margin: 0 2% 60px;
  }
}
@media screen and (max-width: 600px) {
  .card-block ul li {
    width: 100%;
    margin: 0 0 60px;
  }
}




/* ///////////////////////////////////////////////////////////////////

relation-post-block

/////////////////////////////////////////////////////////////////// */

.relation-post-block .list-block ul {
	max-height: 200px;
	overflow-y: scroll;
}



/* ///////////////////////////////////////////////////////////////////

pagenav-block

/////////////////////////////////////////////////////////////////// */
.pagenav-block {
  text-align:right;

}
.pagenav-block .pagenav {
  list-style:none;
}
.pagenav-block .pagenav li {
  width:40px;
  display:inline-block;
  margin:0 0 5px 5px ;
  border:1px solid #CCC;
  line-height:1;
  text-align:center;
}
.pagenav-block .pagenav li.current {
  font-weight:bold;
  background:#cccccc;
  color:#ffffff;
}
.pagenav-block .pagenav li a ,
.pagenav-block .pagenav li span {
  padding:8px 0;
  display:block;
}
@media screen and (max-width: 600px) {
.pagenav-block .pagenav li a ,
.pagenav-block .pagenav li span {
  padding:16px 0;
}
}



/* ///////////////////////////////////////////////////////////////////

MorePost

/////////////////////////////////////////////////////////////////// */

#MorePost {
  padding-top: 24px;
  width: 94%;
  max-width: var(--parts-max-width);
  margin-left: auto;
  margin-right: auto;
}
#MorePost h2 {
  font-weight: bold;
}
#MorePost ul {
  overflow-y: auto;
}
#MorePost ul li {
	margin-bottom: 10px;
}



/* ///////////////////////////////////////////////////////////////////

text-block

/////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////

img-block

/////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////

imgs-block

/////////////////////////////////////////////////////////////////// */
.imgs-block {
	text-align: center;
}
.imgs-block li {
	display: inline-block;
	margin: 3%;
	width: 40%;
	list-style: none;
}
.imgs-block.set-3 li {
	margin: 2%;
	width: 26%;
}



/* ///////////////////////////////////////////////////////////////////

text-img-block


/////////////////////////////////////////////////////////////////// */
.text-img-block.balloon > div:not(.img) {
  padding: 10px;
  box-sizing: border-box;
  border: 2px #dcdcdc solid;
  border-radius: 6px;
}
.text-img-block.balloon .left:not(.img),
.text-img-block.balloon .right:not(.img) {
  position: relative;
}
.text-img-block.balloon .left:not(.img)::before,
.text-img-block.balloon .right:not(.img)::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 20px;
}
.text-img-block.balloon .left:not(.img)::before {
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #dddcdc;
  left: 100%;
}
.text-img-block.balloon .right:not(.img)::before {
  border-width: 15px 20px 15px 0;
  border-color: transparent #dddcdc transparent transparent ;
  right: 100%;
}
.text-img-block.balloon .left:not(.img)::after,
.text-img-block.balloon .right:not(.img)::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 22px;
}
.text-img-block.balloon .left:not(.img)::after {
  border-width: 13px 0 13px 17px;
  border-color: transparent transparent transparent #fff;
  left: 100%;
}
.text-img-block.balloon .right:not(.img)::after {
  border-width: 13px 17px 13px 0;
  border-color: transparent #fff transparent transparent ;
  right: 100%;
}

@media screen and (max-width: 600px) {
.text-img-block .img {
	text-align: center;
}
.text-img-block.balloon .left:not(.img)::before,
.text-img-block.balloon .right:not(.img)::before {
  top: 10px;
}
.text-img-block.balloon .left:not(.img)::before {
  border-width: 10px 0 10px 14px;
}
.text-img-block.balloon .right:not(.img)::before {
  border-width: 10px 14px 10px 0;
}
.text-img-block.balloon .left:not(.img)::after,
.text-img-block.balloon .right:not(.img)::after {
  top: 12px;
}
.text-img-block.balloon .left:not(.img)::after {
  border-width: 8px 0 8px 11px;
}
.text-img-block.balloon .right:not(.img)::after {
  border-width: 8px 11px 8px 0;
}
}



/* ///////////////////////////////////////////////////////////////////

html-block

/////////////////////////////////////////////////////////////////// */
.html-block iframe {
  aspect-ratio: 16/9;
	width: 100%;
  max-width: 640px;
  display: block;
  margin: 0 auto;
}
.html-block iframe.youtube {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
.html-block iframe.googlemap {
	width: 100%;
  height: 200px;
}
iframe.instagram-media {
	width: 100%;
	max-width: 100% !important;
	min-width: auto !important;
}
}

/* ///////////////////////////////////////////////////////////////////

google-map

/////////////////////////////////////////////////////////////////// */

.google-map-block .acf-map {
	width: 100%;
	height: 350px;
	border: #ccc solid 1px;
}
@media screen and (max-width: 600px) {
.google-map-block .acf-map {
  height: 200px;
}
}



/* ///////////////////////////////////////////////////////////////////

spacer-block

/////////////////////////////////////////////////////////////////// */
.spacer-block-s {
	padding-bottom: 30px;
}
.spacer-block-m {
	padding-bottom: 80px;
}
.spacer-block-l {
	padding-bottom: 160px;
}

@media screen and (max-width: 600px) {
  .spacer-block-s {
    padding-bottom: 15px;
  }
  .spacer-block-m {
    padding-bottom: 60px;
  }
  .spacer-block-l {
    padding-bottom: 100px;
  }
}



/* ///////////////////////////////////////////////////////////////////

surround-block

/////////////////////////////////////////////////////////////////// */

.surround-block {
	padding: 0;
  overflow: hidden;
  background-position: center;
}
.surround-block.surround-background-cover {
  background-size: cover;
}
.surround-block::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.surround-block.surround-backdrop-lighten {
  color: #333;
}
.surround-block.surround-backdrop-lighten::before {
  background-color: rgba(255, 255, 255, .7);
}
.surround-block.surround-backdrop-darken {
  color: #fff;
}
.surround-block.surround-backdrop-darken::before {
  background-color: rgba(0, 0, 0, .4);
}
.surround-block.surround-backdrop-blur::before {
  backdrop-filter: blur(4px);
}
.surround-block .parts-item:first-child {
  margin-top: 3%;
}
.surround-block.surround-color-red {
	border: solid 1px #E84F4F;
	background-color: #FFF5F5;
}
.surround-block.surround-color-yellow {
	border: solid 1px #D6D003;
	background-color: #FFFEE6;
}
.surround-block.surround-color-orange {
	border: solid 1px #FF9900;
	background-color: #FFF8EE;
}
.surround-block.surround-color-green {
	border: solid 1px #6CA265;
	background-color: #F7FFF1;
}
.surround-block.surround-color-blue {
	border: solid 1px #2082BB;
	background-color: #EDF9FF;
}
.surround-block.surround-border-color-red {
	border-color: #E84F4F !important;
}
.surround-block.surround-border-color-yellow {
	border-color: #D6D003 !important;
}
.surround-block.surround-border-color-orange {
	border-color: #FF9900 !important;
}
.surround-block.surround-border-color-green {
	border-color: #6CA265 !important;
}
.surround-block.surround-border-color-blue {
	border-color: #2082BB !important;
}
.surround-block.surround-border-color-black {
	border-color: #000000 !important;
}
.surround-block.surround-background-color-red {
	background-color: #FFF5F5;
}
.surround-block.surround-background-color-yellow {
	background-color: #FFFEE6;
}
.surround-block.surround-background-color-orange {
	background-color: #FFF8EE;
}
.surround-block.surround-background-color-green {
	background-color: #F7FFF1;
}
.surround-block.surround-background-color-blue {
	background-color: #EDF9FF;
}
.surround-block.surround-background-color-white  {
	background-color: #FFFFFF;
}
