body {
  --design-menu-01: url(https://theme.selfull.jp/images/common/menu-01-monotone-open.png);
  --design-menu-02: url(https://theme.selfull.jp/images/common/menu-02-monotone-open.png);
  --design-menu-03: url(https://theme.selfull.jp/images/common/menu-03-monotone-open.png);
  --design-menu-04: url(https://theme.selfull.jp/images/common/menu-04-monotone-open.png);
  --design-menu-05: url(https://theme.selfull.jp/images/common/menu-05-monotone-open.png);
  --design-menu-06: url(https://theme.selfull.jp/images/common/menu-06-monotone-open.png);
  --design-menu-07: url(https://theme.selfull.jp/images/common/menu-07-monotone-open.png);
  --design-menu-08: url(https://theme.selfull.jp/images/common/menu-08-monotone-open.png);
}
body.site-color-blue {
  --design-menu-01: url(https://theme.selfull.jp/images/common/menu-01-blue-open.png);
  --design-menu-02: url(https://theme.selfull.jp/images/common/menu-02-blue-open.png);
  --design-menu-03: url(https://theme.selfull.jp/images/common/menu-03-blue-open.png);
  --design-menu-04: url(https://theme.selfull.jp/images/common/menu-04-blue-open.png);
  --design-menu-05: url(https://theme.selfull.jp/images/common/menu-05-blue-open.png);
  --design-menu-06: url(https://theme.selfull.jp/images/common/menu-06-blue-open.png);
  --design-menu-07: url(https://theme.selfull.jp/images/common/menu-07-blue-open.png);
  --design-menu-08: url(https://theme.selfull.jp/images/common/menu-08-blue-open.png);
}
body.site-color-red {
  --design-menu-01: url(https://theme.selfull.jp/images/common/menu-01-red-open.png);
  --design-menu-02: url(https://theme.selfull.jp/images/common/menu-02-red-open.png);
  --design-menu-03: url(https://theme.selfull.jp/images/common/menu-03-red-open.png);
  --design-menu-04: url(https://theme.selfull.jp/images/common/menu-04-red-open.png);
  --design-menu-05: url(https://theme.selfull.jp/images/common/menu-05-red-open.png);
  --design-menu-06: url(https://theme.selfull.jp/images/common/menu-06-red-open.png);
  --design-menu-07: url(https://theme.selfull.jp/images/common/menu-07-red-open.png);
  --design-menu-08: url(https://theme.selfull.jp/images/common/menu-08-red-open.png);
}
body.site-color-orange {
  --design-menu-01: url(https://theme.selfull.jp/images/common/menu-01-orange-open.png);
  --design-menu-02: url(https://theme.selfull.jp/images/common/menu-02-orange-open.png);
  --design-menu-03: url(https://theme.selfull.jp/images/common/menu-03-orange-open.png);
  --design-menu-04: url(https://theme.selfull.jp/images/common/menu-04-orange-open.png);
  --design-menu-05: url(https://theme.selfull.jp/images/common/menu-05-orange-open.png);
  --design-menu-06: url(https://theme.selfull.jp/images/common/menu-06-orange-open.png);
  --design-menu-07: url(https://theme.selfull.jp/images/common/menu-07-orange-open.png);
  --design-menu-08: url(https://theme.selfull.jp/images/common/menu-08-orange-open.png);
}
body.site-color-green {
  --design-menu-01: url(https://theme.selfull.jp/images/common/menu-01-green-open.png);
  --design-menu-02: url(https://theme.selfull.jp/images/common/menu-02-green-open.png);
  --design-menu-03: url(https://theme.selfull.jp/images/common/menu-03-green-open.png);
  --design-menu-04: url(https://theme.selfull.jp/images/common/menu-04-green-open.png);
  --design-menu-05: url(https://theme.selfull.jp/images/common/menu-05-green-open.png);
  --design-menu-06: url(https://theme.selfull.jp/images/common/menu-06-green-open.png);
  --design-menu-07: url(https://theme.selfull.jp/images/common/menu-07-green-open.png);
  --design-menu-08: url(https://theme.selfull.jp/images/common/menu-08-green-open.png);
}
body.site-color-green2 {
  --design-menu-01: url(https://theme.selfull.jp/images/common/menu-01-green2-open.png);
  --design-menu-02: url(https://theme.selfull.jp/images/common/menu-02-green2-open.png);
  --design-menu-03: url(https://theme.selfull.jp/images/common/menu-03-green2-open.png);
  --design-menu-04: url(https://theme.selfull.jp/images/common/menu-04-green2-open.png);
  --design-menu-05: url(https://theme.selfull.jp/images/common/menu-05-green2-open.png);
  --design-menu-06: url(https://theme.selfull.jp/images/common/menu-06-green2-open.png);
  --design-menu-07: url(https://theme.selfull.jp/images/common/menu-07-green2-open.png);
  --design-menu-08: url(https://theme.selfull.jp/images/common/menu-08-green2-open.png);
}
body.site-color-pink {
  --design-menu-01: url(https://theme.selfull.jp/images/common/menu-01-pink-open.png);
  --design-menu-02: url(https://theme.selfull.jp/images/common/menu-02-pink-open.png);
  --design-menu-03: url(https://theme.selfull.jp/images/common/menu-03-pink-open.png);
  --design-menu-04: url(https://theme.selfull.jp/images/common/menu-04-pink-open.png);
  --design-menu-05: url(https://theme.selfull.jp/images/common/menu-05-pink-open.png);
  --design-menu-06: url(https://theme.selfull.jp/images/common/menu-06-pink-open.png);
  --design-menu-07: url(https://theme.selfull.jp/images/common/menu-07-pink-open.png);
  --design-menu-08: url(https://theme.selfull.jp/images/common/menu-08-pink-open.png);
}
body.site-color-purple {
  --design-menu-01: url(https://theme.selfull.jp/images/common/menu-01-purple-open.png);
  --design-menu-02: url(https://theme.selfull.jp/images/common/menu-02-purple-open.png);
  --design-menu-03: url(https://theme.selfull.jp/images/common/menu-03-purple-open.png);
  --design-menu-04: url(https://theme.selfull.jp/images/common/menu-04-purple-open.png);
  --design-menu-05: url(https://theme.selfull.jp/images/common/menu-05-purple-open.png);
  --design-menu-06: url(https://theme.selfull.jp/images/common/menu-06-purple-open.png);
  --design-menu-07: url(https://theme.selfull.jp/images/common/menu-07-purple-open.png);
  --design-menu-08: url(https://theme.selfull.jp/images/common/menu-08-purple-open.png);
}
body.site-color-brown {
  --design-menu-01: url(https://theme.selfull.jp/images/common/menu-01-brown-open.png);
  --design-menu-02: url(https://theme.selfull.jp/images/common/menu-02-brown-open.png);
  --design-menu-03: url(https://theme.selfull.jp/images/common/menu-03-brown-open.png);
  --design-menu-04: url(https://theme.selfull.jp/images/common/menu-04-brown-open.png);
  --design-menu-05: url(https://theme.selfull.jp/images/common/menu-05-brown-open.png);
  --design-menu-06: url(https://theme.selfull.jp/images/common/menu-06-brown-open.png);
  --design-menu-07: url(https://theme.selfull.jp/images/common/menu-07-brown-open.png);
  --design-menu-08: url(https://theme.selfull.jp/images/common/menu-08-brown-open.png);
}
body.site-color-monotone {
  --design-menu-01: url(https://theme.selfull.jp/images/common/menu-01-monotone-open.png);
  --design-menu-02: url(https://theme.selfull.jp/images/common/menu-02-monotone-open.png);
  --design-menu-03: url(https://theme.selfull.jp/images/common/menu-03-monotone-open.png);
  --design-menu-04: url(https://theme.selfull.jp/images/common/menu-04-monotone-open.png);
  --design-menu-05: url(https://theme.selfull.jp/images/common/menu-05-monotone-open.png);
  --design-menu-06: url(https://theme.selfull.jp/images/common/menu-06-monotone-open.png);
  --design-menu-07: url(https://theme.selfull.jp/images/common/menu-07-monotone-open.png);
  --design-menu-08: url(https://theme.selfull.jp/images/common/menu-08-monotone-open.png);
}


.design-menu-01 #global-header #global-header-main-sp #global-header-main-sp-right #menu_btn {
  background-image: var(--design-menu-01);
}
.design-menu-02 #global-header #global-header-main-sp #global-header-main-sp-right #menu_btn {
  background-image: var(--design-menu-02);
}
.design-menu-03 #global-header #global-header-main-sp #global-header-main-sp-right #menu_btn {
  background-image: var(--design-menu-03);
}
.design-menu-04 #global-header #global-header-main-sp #global-header-main-sp-right #menu_btn {
  background-image: var(--design-menu-04);
}
.design-menu-05 #global-header #global-header-main-sp #global-header-main-sp-right #menu_btn {
  background-image: var(--design-menu-05);
}
.design-menu-06 #global-header #global-header-main-sp #global-header-main-sp-right #menu_btn {
  background-image: var(--design-menu-06);
}
.design-menu-07 #global-header #global-header-main-sp #global-header-main-sp-right #menu_btn {
  background-image: var(--design-menu-07);
}
.design-menu-08 #global-header #global-header-main-sp #global-header-main-sp-right #menu_btn {
  background-image: var(--design-menu-08);
}

.design-menu-09 #global-header #global-header-main-sp #global-header-main-sp-right #menu_btn {
  background-image: url(https://theme.selfull.jp/images/common/fh-menu-open.png) !important;
}
