@charset "utf-8";
/*
**********************************************************************

* common.css

*********************************************************************
*/
* {
  box-sizing: border-box;
}
body {
  font-size: var(--site-font-size);
  line-height: var(--site-line-spacing);
  letter-spacing: var(--site-character-spacing);
}
body.site-font-gothic {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",  Osaka, sans-serif;
}
body.site-font-mincho {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
body .inner {
  display: block;
  /* max-width: var(--contents-max-width); */
  margin: 0 auto;
}
body img {
  max-width:100%;
  height: auto;
}
body iframe {
  max-width:100%;
}
body p:empty:before {
  content: none !important;
}
#site {
  margin: 0 auto;
  min-width: 960px;
  overflow: hidden;
}
.sp-area {
  display: none;
}
.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

@media screen and (min-width:601px) {
  body.no-scroll-pc {
    overflow: hidden;
  }
}
@media screen and (max-width:600px) {
  #site {
    min-width: 0;
  }
  body .inner {
    width: auto;
  }
  body.no-scroll-sp {
    overflow: hidden;
  }
  .pc-area {
    display: none;
  }
  .sp-area {
    display: block;
  }
  #window-size-check {
    display: none;
  }
}

/*===================================================================
  global-header
===================================================================*/
/* #global-header {
  position: relative;
  margin-bottom: 20px;
  line-height: 1.4;
}
#global-header .site-title {
  margin-bottom: 10px;
  padding:5px 0;
  width: 100%;
  font-size:12px;
}
#global-header #global-header-main-pc {
  display: flex;
  justify-content: space-between;
}
#global-header #global-header-main-pc #global-header-main-pc-left {
  width: 44%;
}
#global-header #global-header-main-pc #global-header-main-pc-left .logo {
  margin-bottom: 20px;
}
#global-header #global-header-main-pc #global-header-main-pc-left .address {
  word-break: break-all;
}
#global-header #global-header-main-pc #global-header-main-pc-right {
  width: 43%;
}
#global-header #global-header-main-pc #global-header-main-pc-right .tel {
  display: block;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  line-height: 1;
}
#global-header #global-header-main-pc #global-header-main-pc-right .tel {
  line-height: 0;
}
#global-header #global-header-main-pc #global-header-main-pc-right .tel .tel-text {
  display: inline-block;
  padding-left: 30px;
  font-size: 18px;
  font-weight: bold;
  word-break: break-all;
  line-height: 1.2;
}
#global-header #global-header-main-pc #global-header-main-pc-right .tel .tel-number {
  display: inline-block;
  padding-left: 30px;
  background-image: url(https://theme.selfull.jp/images/common/tel-icon-pc.png);
  background-repeat: no-repeat;
  background-position: left center;
  word-break: break-word;
  line-height: 1.2;
}
#global-header #global-header-main-pc #global-header-main-pc-right .mail {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  padding: 0 3%;
  box-sizing: border-box;
  border-radius: 4px;
  background: linear-gradient(to bottom, #e52429 0%,#e52429 48%,#bb0f0f 50%,#bb0f0f 100%);
  box-shadow:rgba(0, 0, 0, 0.3) 2px 2px 3px 0px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 2px #6B0000;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
}
#global-header #global-header-main-pc #global-header-main-pc-right .mail span {
  display: inline-block;
  padding: 10px 0 10px 35px;
  background-image: url(https://theme.selfull.jp/images/common/mail-icon.png);
  background-repeat: no-repeat;
  background-position: left center;
}
#global-header #global-header-main-pc #global-header-main-pc-right .line_btn {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  padding: 0 3%;
  box-sizing: border-box;
  border-radius: 4px;
  background: linear-gradient(to bottom, #15b817 0%,#15b817 48%,#029403 50%,#029403 100%);
  box-shadow:rgba(0, 0, 0, 0.3) 2px 2px 3px 0px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 2px #023b02;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
}
#global-header #global-header-main-pc #global-header-main-pc-right .line_btn.line_half {
  width: 47%;
}
#global-header #global-header-main-pc #global-header-main-pc-right .line_btn span {
  display: inline-block;
  padding: 10px 0 10px 35px;
  background-image: url(https://theme.selfull.jp/images/common/line-icon.png);
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: left center;
}
#global-header #global-header-main-pc #global-header-main-pc-right .mail.mail_half {
  width: 47%;
}
#global-header #global-header-main-pc #global-header-main-pc-right .info {
  text-align: left;
}
#global-header #global-header-main-pc #global-header-main-pc-right .info dl {
  overflow: hidden;
  padding-top: 10px;
  clear: both;
}
#global-header #global-header-main-pc #global-header-main-pc-right .info dl dt {
  float: left;
  width: 16%;
  padding: 2px 1%;
  box-sizing: border-box;
  background: #555555;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#global-header #global-header-main-pc #global-header-main-pc-right .info dl dd {
  float: right;
  width: 82%;
  word-break: break-word;
}

#global-header #global-nav-pc.fixed {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  box-shadow:rgba(0, 0, 0, 0.2) 2px 2px 3px 0px;
  z-index: 100;
}
#global-header #global-header-main-sp {
  display: none;
}
#global-header #announcement {
  margin: 10px 0 5px;
  padding: 5px 3%;
  border: solid 1px #af779c;
  background-color: #fbe9f9;
  font-weight: bold;
  text-align: center;
  word-break: break-all;
  color: #bb0f0f;
}
#global-header #global-nav-pc {
  margin-top: 10px;
  background-color: #666;
  border-bottom: solid 1px #000;
  overflow: hidden;
}
#global-header #global-nav-pc ul {
  max-width: var(--contents-max-width);
  margin: 0 auto;
}
#global-header #global-nav-pc ul li {
  position: relative;
  float: left;
  width: 20%;
  text-align: center;
}
#global-header #global-nav-pc ul li a:after  {
  content: " ";
  position: absolute;
  top: 15%;
  right: 0;
  height: 70%;
  border-right: solid 1px #333;
}
#global-header #global-nav-pc ul li:nth-child(5) a:after,
#global-header #global-nav-pc ul li:nth-child(10) a:after,
#global-header #global-nav-pc ul li:nth-child(15) a:after {
  border: none;
}
#global-header #global-nav-pc ul li a {
  display: block;
  padding: 16px 5px;
  text-decoration: none;
  color:#ffffff;
}
#global-header #global-nav-pc ul li a:hover {
  opacity: 0.6;
}
#global-header #global-nav-sp {
  display: none;
}
#sp-menu {
  display: none;
}


@media screen and (max-width:600px) {
#global-header {
  margin: 0;
}
#global-header .site-title {
  overflow: hidden;
}
#global-header #global-header-main-pc {
  display: none;
}
#global-header #global-header-main-sp {
  display: block;
  padding-bottom: 5px;
}
#global-header #global-header-main-sp.fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 3%;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffffeb;
  box-shadow:rgba(0, 0, 0, 0.2) 2px 2px 3px 0px;
  z-index: 100;
}
#global-header #global-header-main-sp #global-header-main-sp-left {
  float: left;
  width: 70%;
}
#global-header #global-header-main-sp #global-header-main-sp-right {
  float: right;
  width: 15%;
}
#global-header #global-header-main-sp #global-header-main-sp-right .tel {
  display: block;
  padding: 5px 2%;
  border-radius: 4px;
  border: solid 1px #2eb10b;
  background: linear-gradient(to bottom, #67d125 0%,#0c7f01 100%);
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 1px #01401B;
  color: #FFF;
  line-height: 2;
}
#global-header #global-header-main-sp #global-header-main-sp-right .tel span {
  padding: 10px 10px 10px 20px;
  background-image: url(https://theme.selfull.jp/images/common/tel-icon-sp.png);
  background-repeat: no-repeat;
  background-position: left center;
}
#global-header #global-header-main-sp #global-header-main-sp-right #menu_btn {
  display: block;
  width: 100%;
  padding-top: 100%;
  background-image: url(https://theme.selfull.jp/images/common/fh-menu-open.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
#sp-menu {
  display: block;
  position: fixed;
  top: 0;
  left: -105%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 101;
}
#sp-menu #sp-menu-contents {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  background-color: #FFF;
  box-shadow:rgba(0, 0, 0, 0.2) 2px 2px 3px 0px;
  border-radius: 4px 4px 0 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
#sp-menu #sp-menu-contents .side-bnr {
  margin-top: 10px;
}
#sp-menu #sp-menu-lightbox {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  z-index: 1;
}
#global-header #announcement {
  text-align: left;
}
#global-header #global-nav-pc {
  display: none;
}
#global-header #global-nav-sp {
  display: block;
  width: 100%;
  margin-top: 10px;
  background: rgba(255,255,255,0.8);
  border-top: 1px solid #fff;
}
#global-header #global-nav-sp.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100
}
#global-header #global-nav-sp.fixed.inactive {
  display: none !important;
}

#global-header.sp-fixed-pattern-2.header-fixed-sp #global-header-main-sp.fixed {
  top: inherit;
  bottom: 0;
  background: inherit !important;
  border: none !important;
}
#global-header.sp-fixed-pattern-2.header-fixed-sp #global-header-main-sp.fixed #global-header-main-sp-left p {
  display: none;
}
#global-header.sp-fixed-pattern-2.header-fixed-sp #global-nav-sp.fixed {
  top: 0;
  bottom: inherit;
  margin-top: 0;
}
#global-header #global-nav-sp .ff-sp-head {
  width: 100%;
  padding-top: 6.25%;
  background-size: contain;
  background-position: center center;
}
#global-header #global-nav-sp #ff-sp-head-01 {
  background-image: url(https://theme.selfull.jp/images/common/ff-sp-01-head.png);
}
#global-header #global-nav-sp #ff-sp-head-02 {
  background-image: url(https://theme.selfull.jp/images/common/ff-sp-02-head.png);
}
#global-header #global-nav-sp #ff-sp-head-03 {
  background-image: url(https://theme.selfull.jp/images/common/ff-sp-03-head.png);
}
#global-header #global-nav-sp #ff-sp-head-04 {
  background-image: url(https://theme.selfull.jp/images/common/ff-sp-04-head.png);
}
#global-header #global-nav-sp #ff-sp-contents {
  width: 100%;
  box-sizing: border-box;
  padding: 4px 2.5% 5px 2.5%;
  font-size: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
#global-header #global-nav-sp #ff-sp-contents a {
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: baseline;
}
#global-header #global-nav-sp #ff-sp-contents a#ff-sp-01-tel {
  width: 100%;
  padding-top: 15%;
  background-image: url(https://theme.selfull.jp/images/common/ff-sp-01-tel.png);
}
#global-header #global-nav-sp #ff-sp-contents a#ff-sp-02-tel {
  width: 49%;
  padding-top: 15%;
  background-image: url(https://theme.selfull.jp/images/common/ff-sp-02-tel.png);
  margin-right: 2%;
}
#global-header #global-nav-sp #ff-sp-contents a#ff-sp-02-web {
  width: 49%;
  padding-top: 15%;
  background-image: url(https://theme.selfull.jp/images/common/ff-sp-02-web.png);
}
#global-header #global-nav-sp #ff-sp-contents a#ff-sp-03-tel {
  width: 49%;
  padding-top: 15%;
  background-image: url(https://theme.selfull.jp/images/common/ff-sp-03-tel.png);
  margin-right: 2%;
}
#global-header #global-nav-sp #ff-sp-contents a#ff-sp-03-line {
  width: 49%;
  padding-top: 15%;
  background-image: url(https://theme.selfull.jp/images/common/ff-sp-03-line.png);
}
#global-header #global-nav-sp #ff-sp-contents a#ff-sp-04-tel {
  width: 49%;
  padding-top: 15%;
  background-image: url(https://theme.selfull.jp/images/common/ff-sp-04-tel.png);
  margin-right: 2%;
}
#global-header #global-nav-sp #ff-sp-contents a#ff-sp-04-web {
  width: 24%;
  padding-top: 15%;
  background-image: url(https://theme.selfull.jp/images/common/ff-sp-04-web.png);
  margin-right: 1%;
}
#global-header #global-nav-sp #ff-sp-contents a#ff-sp-04-line {
  width: 24%;
  padding-top: 15%;
  background-image: url(https://theme.selfull.jp/images/common/ff-sp-04-line.png);
}
#global-header #global-nav-sp #ff-sp-contents.ff-sp-contents-original-1,
#global-header #global-nav-sp #ff-sp-contents.ff-sp-contents-original-2 {
  padding-top: 6px;
}
#global-header #global-nav-sp #ff-sp-contents.ff-sp-contents-original-2 a {
  margin: 0 1%;
  width: 48%;
}
#global-header #global-nav-sp #ff-sp-contents.ff-sp-contents-original-1 a img,
#global-header #global-nav-sp #ff-sp-contents.ff-sp-contents-original-2 a img {
  max-height: 150px;
  width: 100%;
}

#global-header #global-nav-sp #ff-sp-contents.ff-sp-contents-original-3 a {
  margin: 0 1%;
  width: 23%;
}
#global-header #global-nav-sp #ff-sp-contents.ff-sp-contents-original-3 a:first-child {
  margin: 0 1%;
  width: 48%;
}


#global-header #global-nav-sp.space0 {
  border-top: none;
  background: none;
}
#global-header #global-nav-sp.space0 .ff-sp-head {
  display: none;
}
#global-header #global-nav-sp.space0 #ff-sp-contents {
  padding: 0;
}
#global-header #global-nav-sp.space0 #ff-sp-contents a {
  background-size: cover;
  background-position: bottom center;
}
#global-header #global-nav-sp.space0 #ff-sp-contents a#ff-sp-02-tel {
  width: 50%;
  margin: 0;
  padding-top: 16%;
}
#global-header #global-nav-sp.space0 #ff-sp-contents a#ff-sp-02-web {
  width: 50%;
  margin: 0;
  padding-top: 16%;
}
#global-header #global-nav-sp.space0 #ff-sp-contents a#ff-sp-03-tel {
  width: 50%;
  margin: 0;
  padding-top: 16%;
}
#global-header #global-nav-sp.space0 #ff-sp-contents a#ff-sp-03-line {
  width: 50%;
  margin: 0;
  padding-top: 16%;
}
#global-header #global-nav-sp.space0 #ff-sp-contents a#ff-sp-04-tel {
  width: 50%;
  margin: 0;
  padding-top: 16%;
}
#global-header #global-nav-sp.space0 #ff-sp-contents a#ff-sp-04-web {
  width: 25%;
  margin: 0;
  padding-top: 16%;
}
#global-header #global-nav-sp.space0 #ff-sp-contents a#ff-sp-04-line {
  width: 25%;
  margin: 0;
  padding-top: 16%;
}
#global-header #global-nav-sp.space0 #ff-sp-contents.ff-sp-contents-original-1,
#global-header #global-nav-sp.space0 #ff-sp-contents.ff-sp-contents-original-2 {
  margin: 0;
}
#global-header #global-nav-sp.space0 #ff-sp-contents.ff-sp-contents-original-2 a {
  width: 50%;
  margin: 0;
}
#global-header #global-nav-sp.space0 #ff-sp-contents.ff-sp-contents-original-3 a {
  width: 25%;
  margin: 0;
}
#global-header #global-nav-sp.space0 #ff-sp-contents.ff-sp-contents-original-3 a:first-child {
  width: 50%;
}
} */




/*===================================================================
  sp-modal
===================================================================*/
#sp-modal {
  display: none;
}

@media screen and (min-width:601px) {
#sp-modal {
  display: none !important;
}
}
@media screen and (max-width:600px) {
#sp-modal {
  display: none;
  background: #0000008f;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}
#sp-modal .sp-modal-head {
  text-align: right;
  margin: 15px 15px 0 0;
}
#sp-modal .sp-modal-head .close-btn img {
  width: 18px;
}
#sp-modal .sp-modal-main {
  margin: 15px;
  padding: 15px;
  background: #fff;
}
#sp-modal .sp-modal-main {
  margin: 15px;
  padding: 15px;
  background: #fff;
}
#sp-modal .sp-modal-main .sp-modal-main-line {
  display: none;
}
#sp-modal .sp-modal-main .sp-modal-main-line .line-info {
  margin-top: 20px;
  padding: 20px 10px;
  background: #e8f9e9;
  border-radius: 6px;
}
#sp-modal .sp-modal-main .sp-modal-main-tel {
  display: none;
}
#sp-modal .sp-modal-main .sp-modal-main-tel h2 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ccc;
}
#sp-modal .sp-modal-main .sp-modal-main-tel .date {
  margin-bottom: 10px;
}
#sp-modal .sp-modal-main .sp-modal-main-tel .date dt {
  font-weight: bold;
}
#sp-modal .sp-modal-main .sp-modal-main-tel .tel-flow {
  margin-top: 20px;
  padding: 20px 10px;
  background: #fff9e0;
  border-radius: 6px;
}
#sp-modal .sp-modal-main .sp-modal-main-tel .tel-flow h2 {
  margin: 0 0 10px;
  color: #493209;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
#sp-modal .sp-modal-main .sp-modal-main-tel .tel-flow .comment-item {
  margin: 5px 0;
}
#sp-modal .sp-modal-main .sp-modal-main-tel .tel-flow .comment-item .img {
  float: left;
  width: 21%;
}
#sp-modal .sp-modal-main .sp-modal-main-tel .tel-flow .comment-item p {
  position: relative;
  float: right;
  width: 72%;
  border: solid 1px #cdbaa9;
  border-radius: 6px;
  padding: 10px 2%;
  box-sizing: border-box;
  text-align: center;
  background: #fff;
  font-size: 14px;
}
#sp-modal .sp-modal-main .sp-modal-main-tel .tel-flow .comment-item p:before {
  content: "";
  border: 12px solid transparent;
  border-right: 12px solid #cdbaa9;
  position: absolute;
  top: 30%;
  left: -24px;
}
#sp-modal .sp-modal-main .sp-modal-main-tel .tel-flow .comment-item p:after {
  content: "";
  border: 12px solid transparent;
  border-right: 12px solid #fff;
  position: absolute;
  top: 30%;
  left: -23px;
}
#sp-modal .sp-modal-main .sp-modal-main-tel .tel-flow .comment-item-right p:before {
  content: "";
  border: 12px solid transparent;
  border-left: 12px solid #cdbaa9;
  position: absolute;
  top: 30%;
  left: inherit;
  right: -24px;
}
#sp-modal .sp-modal-main .sp-modal-main-tel .tel-flow .comment-item-right p:after {
  content: "";
  border: 12px solid transparent;
  border-left: 12px solid #fff;
  position: absolute;
  top: 30%;
  left: inherit;
  right: -23px;
}
#sp-modal .sp-modal-main .sp-modal-main-tel .tel-flow .comment-item-right .img {
  float: right;
  width: 21%;
}
#sp-modal .sp-modal-main .sp-modal-main-tel .tel-flow .comment-item-right p {
  float: left;
  width: 68%;
}
}

/*===================================================================
  contents
===================================================================*/
#contents {
  width: min(94%, var(--contents-max-width) * 0.94);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
}
.main-img {
  margin-bottom: 20px;
}
.main-img-pc {
  text-align: center;
  margin: 0 auto 30px;
}
.main-img-sp {
  display: none;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}
.main-img-sp img {
  width: 100%;
}

.main-img-2 {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
.main-img-2 .img img {
  width: 100%;
}
.main-img-2 .text {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}
.main-img-2 .text .text-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-img-2 .text .editor {
  position: relative;
  padding: 30px 3%;
  line-height: 1.3;
}
.breadcrumb {
  margin: 24px auto 32px;
  line-height: 1.2;
  font-size: 14px;
  width: min(94%, var(--contents-max-width) * 0.94);
}
@media screen and (max-width:600px) {
  #contents {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-img-pc {
    display: none;
  }
  .main-img-sp {
    display: block;
  }
  .main-img-2 {
    margin-bottom: 20px;
  }
  .main-img-2 .text .editor {
    padding: 10px 3%;
  }
  .main-img-2 .text {
    bottom: 15px;
  }
  .breadcrumb {
    padding: 0 3%;
    display: none;
  }
  .symptomscat .breadcrumb {
    display: none;
  }
}
/*===================================================================
  Main
===================================================================*/
#main {
  width: max(100% - 270px, 72%);
  max-width: var(--main-max-width);
  padding: 3% 0;
  box-sizing: border-box;
  word-wrap: break-word;
  hyphens: auto;
}
#main a {
  color: #2288ee;
}
@media screen and (max-width:600px) {
  #main {
    width: 94%;
    margin-bottom: 24px;
  }
}


/*===================================================================
  side
===================================================================*/
#side {
  width: 25%;
  max-width: 240px;
  overflow: hidden;
}
.side-bnr {
  margin-bottom: 20px;
  text-align: center;
}
.side-bnr li {
  margin-bottom: 10px;
}
.side-bnr li img {
  max-width:100%;
  height:auto;
}
.side-free {
  margin-bottom: 20px;
}
.side-nav {
  margin-bottom: 20px;
}
.side-nav ul {
  background-color: #FFF;
}
.side-nav ul li {
  border-top: #dcdcdc 1px solid;
}
.side-nav ul li.hide {
  display:none;
}
.side-nav ul li:first-child {
  border-top:0px;
}
.side-nav ul li a {
  display: block;
  padding: 12px 25px 12px 30px;
  background-image: url(https://theme.selfull.jp/images/common/side-icon-arrow.png);
  background-position:15px center;
  background-repeat: no-repeat;
  text-decoration: none;
}
.side-nav ul li a:hover {
  text-indent: 0.1rem;
}
.fb_iframe_widget {
  display: block;
  margin: 0 auto 20px;
  text-align: center;
}
.fb_iframe_widget span {
  display: inline-block;
}
.ekiten {
  overflow: hidden;
  width: auto;
  margin-bottom: 20px;
  padding: 5px;
  background: #F99;
  border-radius: 5px;
}
.ekiten .ekiten-title {
  margin: 0 5px 5px;
}
.ekiten .ekiten-logo img {
  width: 120px;
}
.side-ekiten {
  margin-top: 10px;
}
.side-free iframe.instagram-media {
  min-width: auto !important;
}
#side .facebook2 {
  position: absolute;
  width: 80%;
  top: -1000%;
  z-index: -100;
}
@media screen and (max-width:600px) {
  #side {
    width: 94%;
    max-width: none;
  }
  .ekiten {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
/*===================================================================
  global-footer
===================================================================*/
/* #global-footer {
  margin-top: 30px;
  width: 100%;
  background: #FFF;
}
#global-footer.fixed {
  padding-bottom: 135px;
}
#global-footer .inner {
  display: flex;
  justify-content: space-between;
  max-width: var(--contents-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 20px 3% 10px;
}
#global-footer #global-footer-nav {
  overflow: hidden;
  width: 100%;
}
#global-footer #global-footer-nav .inner {
  padding: 15px 3% 0;
}
#global-footer #global-footer-nav ul {
  display: inline;
  letter-spacing: -.40em;
}
#global-footer #global-footer-nav li {
  display: inline;
  vertical-align: top;
  letter-spacing: -.40em;
}
#global-footer #global-footer-nav li a {
  position: relative;
  display: inline-block;
  width: 236px;
  margin-bottom: 8px;
  padding-left: 18px;
  box-sizing: border-box;
  vertical-align: top;
  text-decoration: none;
  list-style: circle inside;
  letter-spacing: normal;
  line-height: 1.2;
}
#global-footer #global-footer-nav li a:after {
  content: "";
  position: absolute;
}
#global-footer #global-footer-nav li a:hover {
  text-decoration: underline;
}
#global-footer #global-footer-main-pc {
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
  background-color: #E4E4E4;
}
#global-footer.fixed #global-footer-main-pc {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 85;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-left {
  width: 44%;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-left .logo {
  display: table;
  width: 80%;
  margin: 0 0 10px;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-left .logo a {
  display: table-cell;
  height: 55px;
  vertical-align: middle;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-left .logo img {
  max-height: 55px;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right {
  width: 38%;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .tel {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 32px;
  min-height: 50px;
  line-height: 0;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .tel .tel-text {
  display: inline-block;
  font-weight: bold;
  word-break: break-all;
  line-height: 1.2;
  padding-left: 0;
  font-size: 14px;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .tel .tel-number {
  padding-left: 25px;
  background-size: 20px auto;
  font-size: 30px;
  font-weight: bold;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .tel .tel-number:first-child {
  margin-top: 8px;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .mail {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 0;
  padding: 0 2%;
  vertical-align: middle;
  font-size: 16px;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .line_btn {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 0;
  padding: 0 2%;
  vertical-align: middle;
  font-size: 16px;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .mail span {
  padding: 8px 0 8px 35px;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .line_btn span {
  padding: 8px 0 8px 35px;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-left .address,
#global-footer #global-footer-main-pc #global-footer-main-pc-right .info {
  font-size: 12px;
}
#global-footer.fixed #global-footer-main-pc #global-footer-main-pc-left .address,
#global-footer.fixed #global-footer-main-pc #global-footer-main-pc-right .info {
  display: none;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .info dl dt {
  padding: 1px;
  font-size: 11px;
}



@media screen and (max-width:600px) {
#global-footer {
  min-width: inherit;
  padding-bottom: 90px;
}
#global-footer #global-footer-nav {
  display: none;
}
#global-footer #global-footer-main-pc {
  display: none;
}
.sp-gnav-fixed-none {
  display: none;
}
} */

/*===================================================================
  pagetop
===================================================================*/
#pagetop {
  position: fixed;
  display: table;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  z-index: 99;
}
#pagetop a {
  display: table-cell;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: 1.2;
  background: #fff;
}
#global-footer.fixed #pagetop {
  bottom: 80px;
}
#pagetop.original {
  width: 60px;
  height: 60px;
}

@media screen and (max-width:600px) {
#pagetop {
  bottom: 150px;
  right: 5px;
}
#global-footer.fixed #pagetop {
  bottom: 150px;
}
}

@media screen and (max-width:450px) {
#pagetop {
  bottom: 100px;
}
#global-footer.fixed #pagetop {
  bottom: 100px;
}
}

@media screen and (max-width:350px) {
#pagetop {
  bottom: 80px;
}
#global-footer.fixed #pagetop {
  bottom: 80px;
}
}

@media screen and (max-width:600px) {
#pagetop.sp-fixed-btn-hide {
  bottom: 10px;
}
}

@media screen and (max-width:600px) {
#pagetop.sp-fixed-pattern-2 {
  bottom: 150px;
}
}

@media screen and (max-width:450px) {
#pagetop.sp-fixed-pattern-2 {
  bottom: 100px;
}
}

@media screen and (max-width:350px) {
#pagetop.sp-fixed-pattern-2 {
  bottom: 80px;
}
}



/*===================================================================
  other
===================================================================*/
/* .menu-01-pc {
  font-size: 14px;
}
.menu-01-pc .menu-01-pc-left {
  float: left;
  width: 66%;
}
.menu-01-pc .nav-list {
  margin-bottom: 40px;
}
.menu-01-pc .nav-list ul li {
  margin-bottom: 15px;
}
.menu-01-pc .menu-01-pc-center .nav-list ul li {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}
.menu-01-pc .menu-01-pc-left .nav-list ul li {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
.menu-01-pc .menu-01-pc-right {
  float: right;
  width: 29%;
}
.menu-01-pc .menu-01-pc-bottom {
  float: left;
  margin: 0 1%;
  padding-bottom: 50px;
  width: 31%;
}
.menu-01-pc .menu-01-pc-bottom .fb-like-box {
  margin-bottom: 20px;
}
.menu-01-pc .menu-01-pc-bottom .fb-like-box iframe {
  width: 100%;
}
.menu-01-pc .menu-bnr li {
  margin-bottom: 20px;
}


@media screen and (max-width: 600px) {
  .menu-01-pc .menu-01-pc-left {
    width: 100%;
  }
  .menu-01-pc .menu-01-pc-right {
    width: 100%;
  }
  .menu-01-pc .menu-01-pc-left .nav-list ul li {
    width: 100%;
  }
  .menu-01-pc .menu-01-pc-bottom {
    margin: 0;
    padding-bottom: 50px;
    width: 100%;
  }
} */


/*===================================================================
  single column
===================================================================*/
/* .single-column #site {
  min-width: 0;
} */
.single-column #contents {
  width: 100%;
  justify-content: center;
}
.single-column #main {
  width: 100%;
  max-width: 100%;
  padding: 0;
}
@media screen and (min-width: 601px) {
  .single-column #side {
    display: none;
  }
}

.single-column .entry-content > .parts-item.alternating-block {
  width: auto;
  max-width: none;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
@media screen and (max-width:960px) {
  .single-column .entry-content > .parts-item.alternating-block {
    margin-left: 0;
    margin-right: 0;
  }
}

.single-column .entry-content > .parts-item.surround-block:not(.bordered) {
  width: auto;
  max-width: none;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
@media screen and (max-width:960px) {
  .single-column .entry-content > .parts-item.surround-block:not(.bordered) {
    margin-left: 0;
    margin-right: 0;
  }
}

.single-column .entry-content h2.style-title, .single-column .entry-content h3.style-title, .single-column .entry-content h4.style-title {
  text-align: center;
}
