
body {
  --color-main: #666666;
  --color-main-light: #dddddd;
  --color-main-extra-light: #f3f3f3;
  --side-icon-arrow: url(https://theme.selfull.jp/images/monotone/solid-side-icon-arrow.png);
}
body.site-color-blue {
  --color-main: #20488d;
  --color-main-light: #bfdde7;
  --color-main-extra-light: #dbf1f8;
  --side-icon-arrow: url(https://theme.selfull.jp/images/blue/solid-side-icon-arrow.png);
}
body.site-color-red {
  --color-main: #b70031;
  --color-main-light: #e9ddcc;
  --color-main-extra-light: #f5f0e9;
  --side-icon-arrow: url(https://theme.selfull.jp/images/red/solid-side-icon-arrow.png);
}
body.site-color-orange {
  --color-main: #f76f4a;
  --color-main-light: #f4c9a8;
  --color-main-extra-light: #feecde;
  --side-icon-arrow: url(https://theme.selfull.jp/images/orange/solid-side-icon-arrow.png);
}
body.site-color-green {
  --color-main: #0ca44c;
  --color-main-light: #dae6ca;
  --color-main-extra-light: #dfeae4;
  --side-icon-arrow: url(https://theme.selfull.jp/images/green/solid-side-icon-arrow.png);
}
body.site-color-green2 {
  --color-main: #7fbc32;
  --color-main-light: #e6f2c3;
  --color-main-extra-light: #e6f2c3;
  --side-icon-arrow: url(https://theme.selfull.jp/images/green2/solid-side-icon-arrow.png);
}
body.site-color-pink {
  --color-main: #f77c8b;
  --color-main-light: #f5dad3;
  --color-main-extra-light: #fdede9;
  --side-icon-arrow: url(https://theme.selfull.jp/images/pink/solid-side-icon-arrow.png);
}
body.site-color-purple {
  --color-main: #754275;
  --color-main-light: #e5e1ee;
  --color-main-extra-light: #e5e1ee;
  --side-icon-arrow: url(https://theme.selfull.jp/images/purple/solid-side-icon-arrow.png);
}
body.site-color-brown {
  --color-main: #714a1a;
  --color-main-light: #e3d5ae;
  --color-main-extra-light: #eedeb0;
  --side-icon-arrow: url(https://theme.selfull.jp/images/brown/solid-side-icon-arrow.png);
}
body.site-color-monotone {
  --color-main: #333333;
  --color-main-light: #eeeeee;
  --color-main-extra-light: #eeeeee;
  --side-icon-arrow: url(https://theme.selfull.jp/images/monotone/solid-side-icon-arrow.png);
}

body {
  --color-sub: var(--color-main);
  --color-sub-light: var(--color-main-light);
  --color-sub-extra-light: var(--color-main-extra-light);
}
body.site-color-2-blue {
  --color-sub: #20488d;
  --color-sub-light: #bfdde7;
  --color-sub-extra-light: #dbf1f8;
}
body.site-color-2-red {
  --color-sub: #b70031;
  --color-sub-light: #e9ddcc;
  --color-sub-extra-light: #f5f0e9;
}
body.site-color-2-orange {
  --color-sub: #f76f4a;
  --color-sub-light: #f4c9a8;
  --color-sub-extra-light: #feecde;
}
body.site-color-2-green {
  --color-sub: #0ca44c;
  --color-sub-light: #dae6ca;
  --color-sub-extra-light: #dfeae4;
}
body.site-color-2-green2 {
  --color-sub: #7fbc32;
  --color-sub-light: #e6f2c3;
  --color-sub-extra-light: #e6f2c3;
}
body.site-color-2-pink {
  --color-sub: #f77c8b;
  --color-sub-light: #f5dad3;
  --color-sub-extra-light: #fdede9;
}
body.site-color-2-purple {
  --color-sub: #754275;
  --color-sub-light: #e5e1ee;
  --color-sub-extra-light: #e5e1ee;
}
body.site-color-2-brown {
  --color-sub: #714a1a;
  --color-sub-light: #e3d5ae;
  --color-sub-extra-light: #eedeb0;
}
body.site-color-2-monotone {
  --color-sub: #333333;
  --color-sub-light: #eeeeee;
  --color-sub-extra-light: #eeeeee;
}


body .inner {
  width: min(94%, var(--contents-max-width) * 0.94);
}


.main-img-pc {
  width: min(94%, var(--contents-max-width) * 0.94);
}
.main-img-pc img {
  width: 100%;
}


#main {
  border: solid 1px #dddddd;
}
.single-column #main {
  border: none;
}


.button-area a.mail {
  background: linear-gradient(to bottom, #d62100 0%,#bd0b00 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px 0px;
  text-shadow: none;
}
.button-area a.line_btn {
  background: linear-gradient(to bottom, #23c326 0%,#10a911 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px 0px;
  text-shadow: none;
}
.button-area a.mail span {
  background-image: url(https://theme.selfull.jp/images/common/mail-icon.png);
}
.button-area a.line_btn span {
  background-image: url(https://theme.selfull.jp/images/common/line-icon.png);
  background-size: 23px;
}




/* global-header
--------------------------*/

#global-header {
  position: relative;
  margin-bottom: 20px;
  line-height: 1.4;
}
#global-header .site-title {
  margin-bottom: 10px;
  padding: 5px 0;
  width: 100%;
  font-size:12px;
}
#global-header .site-title .inner {
  width: min(94%, var(--contents-max-width) * 0.94);
}
#global-header #global-header-main-pc {
  display: flex;
  justify-content: space-between;
}
#global-header #global-header-main-pc #global-header-main-pc-left {
  width: 44%;
}
#global-header #global-header-main-pc #global-header-main-pc-left .logo {
  margin-bottom: 20px;
}
#global-header #global-header-main-pc #global-header-main-pc-left .address {
  word-break: break-all;
}
#global-header #global-header-main-pc #global-header-main-pc-right {
  width: 43%;
}
#global-header #global-header-main-pc #global-header-main-pc-right .tel-text {
  display: block;
  font-size: 18px;
  font-weight: bold;
  word-break: break-all;
  line-height: 1.2;
  text-align: center;
}
#global-header #global-header-main-pc #global-header-main-pc-right .tel {
  display: block;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}
#global-header #global-header-main-pc #global-header-main-pc-right .tel .tel-number {
  display: inline-block;
  padding-left: 30px;
  background-image: url(https://theme.selfull.jp/images/common/tel-icon-pc.png);
  background-repeat: no-repeat;
  background-position: left center;
  word-break: break-word;
  line-height: 1.2;
}

#global-header #global-header-main-pc #global-header-main-pc-right .button-area {
  display: flex;
  justify-content: center;
  gap: 0 3%;
}
#global-header #global-header-main-pc #global-header-main-pc-right .button-area a {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  width: 100%;
  max-width: 400px;
  min-width: 0;
  padding: 0;
  line-height: 1;
  font-size: 18px;
  margin-bottom: 12px;
}
#global-header #global-header-main-pc #global-header-main-pc-right .button-area a span {
  display: inline-block;
  padding: 16px 0 16px 35px;
  background-repeat: no-repeat;
  background-position: left center;
}


#global-header #global-header-main-pc #global-header-main-pc-right .info {
  text-align: left;
}
#global-header #global-header-main-pc #global-header-main-pc-right .info dl {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0 3%;
  flex-wrap: wrap;
  overflow: hidden;
  padding-top: 10px;
}
#global-header #global-header-main-pc #global-header-main-pc-right .info dl dt {
  width: 104px;
  padding: 2px 0;
  background: #555555;
  text-align: center;
  font-size: 90%;
  color: #fff;
}
#global-header #global-header-main-pc #global-header-main-pc-right .info dl dd {
  width: calc(97% - 104px);
  word-break: break-word;
}

#global-header #global-nav-pc.fixed {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  box-shadow:rgba(0, 0, 0, 0.2) 2px 2px 3px 0px;
  z-index: 100;
}
#global-header #global-header-main-sp {
  display: none;
}
#global-header #announcement {
  margin: 10px 0 5px;
  padding: 5px 3%;
  border: solid 1px #af779c;
  background-color: #fbe9f9;
  font-weight: bold;
  text-align: center;
  word-break: break-all;
  color: #bb0f0f;
}
#global-header #global-nav-pc {
  margin-top: 10px;
  background-color: #666;
  border-bottom: solid 1px #000;
  overflow: hidden;
}
#global-header #global-nav-pc > div {
  max-width: var(--contents-max-width);
  margin: 0 auto;
}
#global-header #global-nav-pc ul {
  width: min(94%, var(--contents-max-width) * 0.94);
  margin: 0 auto;
}
#global-header #global-nav-pc ul li {
  position: relative;
  float: left;
  width: 20%;
  text-align: center;
}
#global-header #global-nav-pc ul li a:after  {
  content: " ";
  position: absolute;
  top: 15%;
  right: 0;
  height: 70%;
  border-right: solid 1px #333;
}
#global-header #global-nav-pc ul li a {
  display: block;
  padding: 16px 5px;
  text-decoration: none;
  color:#ffffff;
}
#global-header #global-nav-pc ul li a:hover {
  opacity: 0.6;
}
#global-header #global-nav-sp {
  display: none;
}
#sp-menu {
  display: none;
}


@media screen and (max-width:600px) {
  #global-header {
    margin: 0;
  }
  #global-header .site-title {
    overflow: hidden;
  }
  #global-header #global-header-main-pc {
    display: none;
  }
  #global-header #global-header-main-sp {
    display: block;
    padding-bottom: 5px;
  }
  #global-header #global-header-main-sp.fixed {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 3%;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffffeb;
    box-shadow:rgba(0, 0, 0, 0.2) 2px 2px 3px 0px;
    z-index: 100;
  }
  #global-header #global-header-main-sp #global-header-main-sp-left {
    float: left;
    width: 70%;
  }
  #global-header #global-header-main-sp #global-header-main-sp-right {
    float: right;
    width: 15%;
  }
  #global-header #global-header-main-sp #global-header-main-sp-right .tel {
    display: block;
    padding: 5px 2%;
    border-radius: 4px;
    border: solid 1px #2eb10b;
    background: linear-gradient(to bottom, #67d125 0%,#0c7f01 100%);
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px #01401B;
    color: #FFF;
    line-height: 2;
  }
  #global-header #global-header-main-sp #global-header-main-sp-right .tel span {
    padding: 10px 10px 10px 20px;
    background-image: url(https://theme.selfull.jp/images/common/tel-icon-sp.png);
    background-repeat: no-repeat;
    background-position: left center;
  }
  #global-header #global-header-main-sp #global-header-main-sp-right #menu_btn {
    display: block;
    width: 100%;
    padding-top: 100%;
    background-image: url(https://theme.selfull.jp/images/common/fh-menu-open.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
  #sp-menu {
    display: block;
    position: fixed;
    top: 0;
    left: -105%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 101;
  }
  #sp-menu #sp-menu-contents {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    background-color: #FFF;
    box-shadow:rgba(0, 0, 0, 0.2) 2px 2px 3px 0px;
    border-radius: 4px 4px 0 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  #sp-menu #sp-menu-contents .side-bnr {
    margin-top: 10px;
  }
  #sp-menu #sp-menu-lightbox {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 1;
  }
  #global-header #announcement {
    text-align: left;
  }
  #global-header #global-nav-pc {
    display: none;
  }
  #global-header #global-nav-sp {
    display: block;
    width: 100%;
    margin-top: 10px;
    background: rgba(255,255,255,0.8);
    border-top: 1px solid #fff;
  }
  #global-header #global-nav-sp.fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100
  }
  #global-header #global-nav-sp.fixed.inactive {
    display: none !important;
  }

  #global-header.sp-fixed-pattern-2.header-fixed-sp #global-header-main-sp.fixed {
    top: inherit;
    bottom: 0;
    background: inherit !important;
    border: none !important;
  }
  #global-header.sp-fixed-pattern-2.header-fixed-sp #global-header-main-sp.fixed #global-header-main-sp-left p {
    display: none;
  }
  #global-header.sp-fixed-pattern-2.header-fixed-sp #global-nav-sp.fixed {
    top: 0;
    bottom: inherit;
    margin-top: 0;
  }
  #global-header #global-nav-sp .ff-sp-head {
    width: 100%;
    padding-top: 6.25%;
    background-size: contain;
    background-position: center center;
  }
  #global-header #global-nav-sp #ff-sp-head-01 {
    background-image: url(https://theme.selfull.jp/images/common/ff-sp-01-head.png);
  }
  #global-header #global-nav-sp #ff-sp-head-02 {
    background-image: url(https://theme.selfull.jp/images/common/ff-sp-02-head.png);
  }
  #global-header #global-nav-sp #ff-sp-head-03 {
    background-image: url(https://theme.selfull.jp/images/common/ff-sp-03-head.png);
  }
  #global-header #global-nav-sp #ff-sp-head-04 {
    background-image: url(https://theme.selfull.jp/images/common/ff-sp-04-head.png);
  }
  #global-header #global-nav-sp #ff-sp-contents {
    width: 100%;
    box-sizing: border-box;
    padding: 4px 2.5% 5px 2.5%;
    font-size: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  #global-header #global-nav-sp #ff-sp-contents a {
    line-height: 0;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: baseline;
  }
  #global-header #global-nav-sp #ff-sp-contents a#ff-sp-01-tel {
    width: 100%;
    padding-top: 15%;
    background-image: url(https://theme.selfull.jp/images/common/ff-sp-01-tel.png);
  }
  #global-header #global-nav-sp #ff-sp-contents a#ff-sp-02-tel {
    width: 49%;
    padding-top: 15%;
    background-image: url(https://theme.selfull.jp/images/common/ff-sp-02-tel.png);
    margin-right: 2%;
  }
  #global-header #global-nav-sp #ff-sp-contents a#ff-sp-02-web {
    width: 49%;
    padding-top: 15%;
    background-image: url(https://theme.selfull.jp/images/common/ff-sp-02-web.png);
  }
  #global-header #global-nav-sp #ff-sp-contents a#ff-sp-03-tel {
    width: 49%;
    padding-top: 15%;
    background-image: url(https://theme.selfull.jp/images/common/ff-sp-03-tel.png);
    margin-right: 2%;
  }
  #global-header #global-nav-sp #ff-sp-contents a#ff-sp-03-line {
    width: 49%;
    padding-top: 15%;
    background-image: url(https://theme.selfull.jp/images/common/ff-sp-03-line.png);
  }
  #global-header #global-nav-sp #ff-sp-contents a#ff-sp-04-tel {
    width: 49%;
    padding-top: 15%;
    background-image: url(https://theme.selfull.jp/images/common/ff-sp-04-tel.png);
    margin-right: 2%;
  }
  #global-header #global-nav-sp #ff-sp-contents a#ff-sp-04-web {
    width: 24%;
    padding-top: 15%;
    background-image: url(https://theme.selfull.jp/images/common/ff-sp-04-web.png);
    margin-right: 1%;
  }
  #global-header #global-nav-sp #ff-sp-contents a#ff-sp-04-line {
    width: 24%;
    padding-top: 15%;
    background-image: url(https://theme.selfull.jp/images/common/ff-sp-04-line.png);
  }
  #global-header #global-nav-sp #ff-sp-contents.ff-sp-contents-original-1,
  #global-header #global-nav-sp #ff-sp-contents.ff-sp-contents-original-2 {
    padding-top: 6px;
  }
  #global-header #global-nav-sp #ff-sp-contents.ff-sp-contents-original-2 a {
    margin: 0 1%;
    width: 48%;
  }
  #global-header #global-nav-sp #ff-sp-contents.ff-sp-contents-original-1 a img,
  #global-header #global-nav-sp #ff-sp-contents.ff-sp-contents-original-2 a img {
    max-height: 150px;
    width: 100%;
  }

  #global-header #global-nav-sp #ff-sp-contents.ff-sp-contents-original-3 a {
    margin: 0 1%;
    width: 23%;
  }
  #global-header #global-nav-sp #ff-sp-contents.ff-sp-contents-original-3 a:first-child {
    margin: 0 1%;
    width: 48%;
  }


  #global-header #global-nav-sp.space0 {
    border-top: none;
    background: none;
  }
  #global-header #global-nav-sp.space0 .ff-sp-head {
    display: none;
  }
  #global-header #global-nav-sp.space0 #ff-sp-contents {
    padding: 0;
  }
  #global-header #global-nav-sp.space0 #ff-sp-contents a {
    background-size: cover;
    background-position: bottom center;
  }
  #global-header #global-nav-sp.space0 #ff-sp-contents a#ff-sp-02-tel {
    width: 50%;
    margin: 0;
    padding-top: 16%;
  }
  #global-header #global-nav-sp.space0 #ff-sp-contents a#ff-sp-02-web {
    width: 50%;
    margin: 0;
    padding-top: 16%;
  }
  #global-header #global-nav-sp.space0 #ff-sp-contents a#ff-sp-03-tel {
    width: 50%;
    margin: 0;
    padding-top: 16%;
  }
  #global-header #global-nav-sp.space0 #ff-sp-contents a#ff-sp-03-line {
    width: 50%;
    margin: 0;
    padding-top: 16%;
  }
  #global-header #global-nav-sp.space0 #ff-sp-contents a#ff-sp-04-tel {
    width: 50%;
    margin: 0;
    padding-top: 16%;
  }
  #global-header #global-nav-sp.space0 #ff-sp-contents a#ff-sp-04-web {
    width: 25%;
    margin: 0;
    padding-top: 16%;
  }
  #global-header #global-nav-sp.space0 #ff-sp-contents a#ff-sp-04-line {
    width: 25%;
    margin: 0;
    padding-top: 16%;
  }
  #global-header #global-nav-sp.space0 #ff-sp-contents.ff-sp-contents-original-1,
  #global-header #global-nav-sp.space0 #ff-sp-contents.ff-sp-contents-original-2 {
    margin: 0;
  }
  #global-header #global-nav-sp.space0 #ff-sp-contents.ff-sp-contents-original-2 a {
    width: 50%;
    margin: 0;
  }
  #global-header #global-nav-sp.space0 #ff-sp-contents.ff-sp-contents-original-3 a {
    width: 25%;
    margin: 0;
  }
  #global-header #global-nav-sp.space0 #ff-sp-contents.ff-sp-contents-original-3 a:first-child {
    width: 50%;
  }
}



#global-header #global-nav-pc {
  background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%);
}
#global-header #global-nav-pc {
  border-top: solid 4px #777;
  border-bottom: solid 1px #dddddd;
}
#global-header #global-nav-pc ul li a {
  color: #222;
}
#global-header #global-nav-pc ul li a:after {
  top: 20%;
  height: 60%;
  border-right: solid 1px #dddddd;
}
#global-header #global-nav-pc ul li:first-child a:before {
  content: " ";
  position: absolute;
  top: 20%;
  left: 0;
  height: 60%;
  border-left: solid 1px #dddddd;
}





/* content-footer
--------------------------*/

#content-footer {
  width: min(94%, var(--contents-max-width) * 0.94);
  margin: 40px auto 0;
}
#content-footer h2 {
  margin-bottom: 30px;
  padding: 10px 2%;
  border: solid 5px #ccc;
}
#content-footer .tel-text {
  display: block;
  text-align: center;
  word-break: break-word;
}
#content-footer .tel-pc {
  width: 100%;
  margin-bottom: 12px;
  text-align: center;
  font-weight: bold;
}
#content-footer .tel-pc .tel-number {
  display: inline-block;
  width: auto;
  padding-left: 48px;
  font-size: 48px;
  line-height: 1.2;
  background-image: url(https://theme.selfull.jp/images/common/tel-icon-pc-02.png);
  background-repeat: no-repeat;
  background-position: left center;
  color: #018d1f;
  word-break: break-word;
}
#content-footer .content-footer-contact {
  margin: 16px 0 24px;
  padding-bottom: 16px;
}
#content-footer .content-footer-contact .info {
  text-align: left;
}
#content-footer .content-footer-contact .button-area {
  display: flex;
  justify-content: center;
  gap: 0 3%;
}
#content-footer .content-footer-contact .button-area a {
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  width: 100%;
  max-width: 400px;
  min-width: 0;
  padding: 0;
  line-height: 1;
  font-size: 18px;
  margin-bottom: 24px;
}
#content-footer .content-footer-contact .button-area a span {
  padding: 16px 0 16px 35px;
  background-repeat: no-repeat;
  background-position: left center;
}
#content-footer .content-footer-contact .info {
  display: block;
  margin: 10px 0;
}
#content-footer .info dl dt {
  display: inline-block;
  padding: 2px 8px;
  background: #555555;
  text-align: center;
  font-size: 13px;
  color: #fff;
  width: 120px;
  margin-top: 15px;
  margin-bottom: 5px;
}
#content-footer .info dl dd {
  float: none;
  width: auto;
}
#content-footer .info dl:first-child dt {
  margin-top: 0;
}
#content-footer .address span {
  margin-right: 10px;
}
#content-footer .googlemap iframe {
  width:100%;
  height: 350px;
  display: block;
}
#content-footer .address {
  margin-bottom: 15px;
  word-break: break-all;
}
@media screen and (min-width: 601px) {
  #content-footer .content-footer-contact .button-area a {
    display: inline-block;
  }
  #content-footer .content-footer-contact .button-area a span {
    display: inline-block;
  }
  #content-footer .content-footer-contact .button-area a.tel-sp {
    display: none;
  }
}

@media screen and (min-width: 1001px) {
  .is-wide #content-footer .tel-pc .tel-number {
    padding-left: 36px;
    font-size: 36px;
    background-size: 26px;
  }
  .is-wide #content-footer h2 {
    text-align: center;
  }
  .is-wide #content-footer-main {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 0 3%;
  }
  .is-wide #content-footer-main .content-footer-contact {
    width: 100%;
    margin-top: 0;
    border-bottom: 0;
  }
  .is-wide #content-footer-main .content-footer-map {
    width: 100%;
  }
  .is-wide #content-footer-main.use_image {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--parts-margin) 3%;
  }
  .is-wide #content-footer-main.use_image .content-footer-image {
    width: 48.5%;
  }
  .is-wide #content-footer-main.use_image .content-footer-contact {
    width: 48.5%;
  }
}

@media screen and (max-width: 600px) {
  #content-footer .tel-pc {
    display: none;
  }
  #content-footer .content-footer-contact .button-area {
    flex-wrap: wrap;
  }
  #content-footer .content-footer-contact .button-area a.tel-sp,
  .sp-modal-main-tel .tel-sp {
    display: block;
    margin: 0 0 12px;
    border-radius: 4px;
    background: linear-gradient(to bottom, #0d9810 0%,#036d04 100%);
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px 0px;
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    font-size: 120%;
    color: #FFF;
  }
  #content-footer .content-footer-contact .button-area a.tel-sp span,
  .sp-modal-main-tel .tel-sp span {
    padding-left: 24px;
    background-image: url(https://theme.selfull.jp/images/common/tel-icon-sp.png);
    background-size: 16px auto;
    background-repeat: no-repeat;
  }
  #content-footer .content-footer-contact {
    margin: 0;
    padding: 12px 0 0;
    border: none;
    width: 100%;
  }
  #content-footer .content-footer-contact .button-area a {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 12px;
    padding: 0 3%;
    font-size: 16px;
  }
  #content-footer .content-footer-contact .button-area a span {
    display: inline-block;
    padding: 12px 0 12px 36px;
  }
  #content-footer .content-footer-contact .info {
    text-align: left !important;
    width: 100%;
    margin-bottom: 24px;
  }
  #content-footer .info dl dd {
    display: block;
  }
  #content-footer .address {
    display: block;
    margin-bottom: 10px;
  }
  #content-footer .address span {
    display: block;
    margin: 0;
  }
  #content-footer .googlemap iframe {
    height: 220px;
  }
}





/* global-footer
--------------------------*/

#global-footer {
  margin-top: 30px;
  width: 100%;
  background: #FFF;
}
#global-footer.fixed {
  padding-bottom: 176px;
}
#global-footer #global-footer-nav {
  overflow: hidden;
  width: 100%;
}
#global-footer #global-footer-nav .inner {
  padding: 15px 0 0;
}
.single-column #global-footer #global-footer-nav .inner {
  padding: 55px 0 0;
}
.double-column #global-footer #global-footer-nav ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}
.double-column #global-footer #global-footer-nav li {
  width: 25%;
  margin: 4px 0;
}
#global-footer #global-footer-nav li a {
  position: relative;
  display: block;
  margin-bottom: 8px;
  padding-left: 18px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: circle inside;
  letter-spacing: normal;
  line-height: 1.2;
  color: #fff;
}
#global-footer #global-footer-nav li a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 6px;
  height: 8px;
  background: url(https://theme.selfull.jp/images/common/solid-footer-icon-arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
}
#global-footer #global-footer-nav ul.menu-bnr li a {
  padding-left: 0;
}
#global-footer #global-footer-nav ul.menu-bnr li a::after {
  content: none;
}
#global-footer #global-footer-nav li a:hover {
  text-decoration: underline;
}

#global-footer #global-footer-main-pc {
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
  background-color: #E4E4E4;
}
#global-footer #global-footer-main-pc .inner {
  display: flex;
  justify-content: space-between;
  gap: 0 20%;
  width: min(94%, var(--contents-max-width) * 0.94);
  margin-left: auto;
  margin-right: auto;
  padding: 24px 0 12px;
}
#global-footer.fixed #global-footer-main-pc .inner {
  padding: 1% 0;
}
#global-footer.fixed #global-footer-main-pc {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 85;
}

#global-footer #global-footer-main-pc #global-footer-main-pc-left {
  width: 50%;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-left .logo {
  width: 100%;
  max-width: 420px;
  margin: 0 0 10px;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right {
  width: 50%;
  max-width: 400px;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .tel {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 32px;
  min-height: 50px;
  line-height: 0;
  padding-top: 8px;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .tel .tel-text {
  display: inline-block;
  font-weight: bold;
  word-break: break-all;
  line-height: 1.2;
  padding-left: 0;
  font-size: 14px;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .tel .tel-number {
  display: inline-block;
  padding-left: 25px;
  background-image: url(https://theme.selfull.jp/images/common/tel-icon-pc.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px auto;
  word-break: break-word;
  line-height: 1.2;
  font-size: 30px;
  font-weight: bold;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .button-area {
  display: flex;
  justify-content: center;
  gap: 0 3%;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .button-area a {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  width: 100%;
  max-width: 400px;
  min-width: 0;
  padding: 0;
  line-height: 1;
  font-size: 18px;
  margin-bottom: 12px;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .button-area a span {
  display: inline-block;
  padding: 16px 0 16px 35px;
  background-repeat: no-repeat;
  background-position: left center;
}

#global-footer #global-footer-main-pc #global-footer-main-pc-right .info dl {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0 3%;
  flex-wrap: wrap;
  overflow: hidden;
  padding-top: 10px;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .info dl dt {
  width: 104px;
  padding: 2px 0;
  background: #555555;
  text-align: center;
  font-size: 90%;
  color: #fff;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .info dl dd {
  width: calc(97% - 104px);
  word-break: break-word;
}


#global-footer #global-footer-main-pc #global-footer-main-pc-left .address {
  font-size: 90%;
}
#global-footer #global-footer-main-pc #global-footer-main-pc-right .info {
  font-size: 90%;
}
#global-footer.fixed #global-footer-main-pc #global-footer-main-pc-left .address {
  display: none;
}
#global-footer.fixed #global-footer-main-pc #global-footer-main-pc-right .info {
  display: none;
}

#global-footer #global-footer-main-pc .copyright {
  padding: 16px;
  text-align: center;
}
#global-footer.fixed #global-footer-main-pc .copyright {
  display: none;
}



@media screen and (max-width:800px) {
  #global-footer #global-footer-nav li {
    width: calc(100% / 3);
  }
}
  
@media screen and (max-width:600px) {
  #global-footer {
    min-width: inherit;
    padding-bottom: 90px;
  }
  #global-footer #global-footer-nav {
    display: none;
  }
  #global-footer #global-footer-main-pc {
    display: none;
  }
  .sp-gnav-fixed-none {
    display: none;
  }
}




#global-footer.fixed #pagetop {
  bottom: 80px;
}
@media screen and (max-width:600px) {
#global-footer.fixed #pagetop {
  bottom: 150px;
}
}

@media screen and (max-width:450px) {
#global-footer.fixed #pagetop {
  bottom: 100px;
}
}

@media screen and (max-width:350px) {
#global-footer.fixed #pagetop {
  bottom: 80px;
}
}

@media screen and (max-width:600px) {
#pagetop.sp-fixed-btn-hide {
  bottom: 10px;
}
}

@media screen and (max-width:600px) {
#pagetop.sp-fixed-pattern-2 {
  bottom: 150px;
}
}

@media screen and (max-width:450px) {
#pagetop.sp-fixed-pattern-2 {
  bottom: 100px;
}
}

@media screen and (max-width:350px) {
#pagetop.sp-fixed-pattern-2 {
  bottom: 80px;
}
}





/* menu-01-pc
--------------------------*/
.menu-01-pc {
  font-size: 14px;
}
.menu-01-pc .menu-01-pc-main {
  display: flex;
  justify-content: space-between;
  gap: 0 3%;
}
.menu-01-pc .menu-01-pc-center {
  width: 100%;
}
.menu-01-pc .menu-01-pc-left {
  width: 75%;
}
.menu-01-pc .menu-01-pc-right {
  width: 25%;
}
@media screen and (min-width: 1001px) {
  .is-wide .menu-01-pc .menu-01-pc-left {
    width: 80%;
  }
  .is-wide .menu-01-pc .menu-01-pc-right {
    width: 20%;
  }
}


.menu-01-pc .nav-list {
  margin-bottom: 40px;
}
.menu-01-pc .nav-list ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.menu-01-pc .nav-list ul li {
  margin: 8px 0;
  padding-right: 8px;
  vertical-align: top;
}
.menu-01-pc .menu-01-pc-center .nav-list ul li {
  width: calc(100% / 4);
}
.menu-01-pc .menu-01-pc-left .nav-list ul li {
  width: calc(100% / 3);
}
.menu-01-pc .menu-01-pc-right .nav-list ul li {
  width: 100%;
}
@media screen and (min-width: 1001px) {
  .is-wide .menu-01-pc .menu-01-pc-center .nav-list ul li {
    width: calc(100% / 5);
  }
  .is-wide .menu-01-pc .menu-01-pc-left .nav-list ul li {
    width: calc(100% / 4);
  }
}


.menu-01-pc .menu-01-pc-sub {
  display: flex;
  justify-content: flex-start;
  gap: 0 3%;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
}
.menu-01-pc .menu-01-pc-bottom {
  width: 32%;
}
@media screen and (max-width: 600px) {
  .menu-01-pc .menu-01-pc-sub {
    flex-wrap: wrap;
  }
  .menu-01-pc .menu-01-pc-bottom {
    width: 100%;
  }
}
.menu-01-pc .menu-01-pc-sub .fb-like-box {
  margin-bottom: 20px;
}
.menu-01-pc .menu-01-pc-sub .fb-like-box iframe {
  width: 100%;
}
.menu-01-pc .menu-bnr li {
  margin-bottom: 20px;
}


@media screen and (max-width: 600px) {
  .menu-01-pc .menu-01-pc-main {
    flex-direction: column;
  }
  .menu-01-pc .menu-01-pc-left {
    width: 100%;
  }
  .menu-01-pc .menu-01-pc-right {
    width: 100%;
  }
  .menu-01-pc .menu-01-pc-left .nav-list ul li {
    width: 100%;
  }
}

.menu-01-pc .nav-title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #fff;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
}
.menu-01-pc .nav-list ul li a {
  display: block;
  padding-left: 20px;
  text-decoration: none;
  background-position: left 3px;
  background-repeat: no-repeat;
  background-position: left center;
}
.menu-01-pc .nav-list ul li a:hover {
  text-indent: 0.1rem;
}








.side-nav .side-nav-title {
  padding-bottom: 10px;
  border-bottom: solid 4px #777;
  font-size: 20px;
  font-weight: bold;
}
#global-header #global-header-main-pc #global-header-main-pc-right .mail,
#main #content-footer .mail {
  background: linear-gradient(to bottom, #d62100 0%,#bd0b00 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px 0px;
  text-shadow: none;
}
#global-header #global-header-main-pc #global-header-main-pc-right .line_btn,
#main #content-footer .line_btn {
  background: linear-gradient(to bottom, #23c326 0%,#10a911 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px 0px;
  text-shadow: none;
}
.entry-header h1 {
  position: relative;
  font-size: 28px;
  margin-bottom:20px;
  padding-bottom: 20px;
  line-height: 1.2;
  font-weight: bold;
}
.entry-header h1:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #eeeeee;
}
.entry-header h1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 4px;
  background: #777;
}
.entry-content h2.style-title,
.entry-content .editor h2,
.type-single .entry-content h2 {
  border-top: solid 4px #777;
  border-bottom: #dddddd 2px solid;
  padding: 10px 0;
  font-weight: bold;
  font-size: 26px;
}
.entry-content h3.style-title,
.entry-content .editor h3,
.type-single .entry-content h3 {
  background: #777;
  padding: 4px 10px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
.entry-content h4.style-title,
.entry-content .editor h4,
.type-single .entry-content h4 {
  position:relative;
  padding-left: 15px;
  font-weight: bold;
}
.entry-content h4.style-title:after,
.entry-content .editor h4:after,
.type-single .entry-content h4:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #777;
}
.slide-block .slick-arrow {
  background-color: #333;
  background-position: center center;
  background-repeat: no-repeat;
}
.slide-block .slick-prev {
  background-image: url(https://theme.selfull.jp/images/common/solid-slide-icon-arrow-l.png);
}
.slide-block .slick-next {
  background-image: url(https://theme.selfull.jp/images/common/solid-slide-icon-arrow-r.png);
}
#global-header #global-nav-sp #ff-sp-contents a#ff-sp-01-tel {
  background-image: url(https://theme.selfull.jp/images/common/solid-ff-sp-01-tel.png);
}
#global-header #global-nav-sp #ff-sp-contents a#ff-sp-02-tel {
  background-image: url(https://theme.selfull.jp/images/common/solid-ff-sp-02-tel.png);
}
#global-header #global-nav-sp #ff-sp-contents a#ff-sp-02-web {
  background-image: url(https://theme.selfull.jp/images/common/solid-ff-sp-02-web.png);
}
#global-header #global-nav-sp #ff-sp-contents a#ff-sp-03-tel {
  background-image: url(https://theme.selfull.jp/images/common/solid-ff-sp-03-tel.png);
}
#global-header #global-nav-sp #ff-sp-contents a#ff-sp-03-line {
  background-image: url(https://theme.selfull.jp/images/common/solid-ff-sp-03-line.png);
}
#global-header #global-nav-sp #ff-sp-contents a#ff-sp-04-tel {
  background-image: url(https://theme.selfull.jp/images/common/solid-ff-sp-04-tel.png);
}
#global-header #global-nav-sp #ff-sp-contents a#ff-sp-04-web {
  background-image: url(https://theme.selfull.jp/images/common/solid-ff-sp-04-web.png);
}
#global-header #global-nav-sp #ff-sp-contents a#ff-sp-04-line {
  background-image: url(https://theme.selfull.jp/images/common/solid-ff-sp-04-line.png);
}
@media screen and (max-width:600px) {
  #global-header > .inner {
    padding: 0;
  }
  #global-header .site-title {
    margin-bottom: 0;
  }
  #global-header #global-header-main-sp #global-header-main-sp-left {
    margin: 5px 0;
  }
  #global-header #global-header-main-sp #global-header-main-sp-right {
    margin-right: -3%;
  }
  #global-header #announcement {
    margin-right: 3%;
    margin-left: 3%;
  }
  #global-header #global-header-main-sp #global-header-main-sp-right #menu_btn {
    background-image: url(https://theme.selfull.jp/images/common/solid-fh-menu-open.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .side-nav .side-nav-title {
    padding: 10px 3%;
  }
}


/* ////////////////////////////////////////////////

Color

//////////////////////////////////////////////// */

#global-header .site-title {
  background: var(--color-main-extra-light);
}
#global-header #global-nav-pc {
  border-top-color: var(--color-main);
}
#main #content-footer h2 {
  border-color: var(--color-main-light);
}
.side-nav .side-nav-title {
  border-bottom-color: var(--color-main);
}
.side-nav ul li a {
  background-image: var(--side-icon-arrow);
}
#global-footer {
  background: var(--color-main);
}
.entry-header h1:after {
  background: var(--color-main);
}
.entry-content h2.style-title,
.entry-content .editor h2,
.type-single .entry-content h2 {
  border-top-color: var(--color-main);
}
.entry-content h3.style-title,
.entry-content .editor h3,
.type-single .entry-content h3 {
  background: var(--color-main);
}
.entry-content h4.style-title:after,
.entry-content .editor h4:after,
.type-single .entry-content h4:after {
  background-color: var(--color-main);
}
.voice-block h2,
.beforeafter-block h2 {
  background: var(--color-main);
}
.voice-block h2:after {
  border-top-color: var(--color-main);
}
.slide-block .slick-arrow {
  background-color: var(--color-main);
}
.text-img-block.fukidashi .text {
  border: solid 1px var(--color-main);
}
.text-img-block.fukidashi .text:after {
  border-right: 14px solid var(--color-main);
}
.text-img-block.fukidashi-right .text:after {
  border: 14px solid transparent;
  border-left: 14px solid var(--color-main);
}

#MorePost li a {
  color: var(--color-main);
}
#main .relation-post-block li a {
  color: var(--color-main);
}
