:root {
    --primary-color: #f30000;
}

.container-width,
.full-width .ubermenu-nav,
.container,
.row {
    max-width: 1140px
}

.row.row-collapse {
    max-width: 1110px
}

.row.row-small {
    max-width: 1132.5px
}

.row.row-large {
    max-width: 1170px
}

.header-main {
    height: 80px
}

#logo img {
    max-height: 80px
}

#logo {
    width: 200px;
}

.header-top {
    min-height: 30px
}

.transparent .header-main {
    height: 90px
}

.transparent #logo img {
    max-height: 90px
}

.has-transparent+.page-title:first-of-type,
.has-transparent+#main>.page-title,
.has-transparent+#main>div>.page-title,
.has-transparent+#main .page-header-wrapper:first-of-type .page-title {
    padding-top: 90px;
}

.header.show-on-scroll,
.stuck .header-main {
    height: 70px !important
}

.stuck #logo img {
    max-height: 70px !important
}

.header-bg-color {
    background-color: #ffffff
}

.header-bottom {
    background-color: #f1f1f1
}

.header-main .nav>li>a {
    line-height: 16px
}

.stuck .header-main .nav>li>a {
    line-height: 50px
}

@media (max-width: 549px) {
    .header-main {
        height: 70px
    }

    #logo img {
        max-height: 70px
    }
}

/* Color */
.accordion-title.active,
.has-icon-bg .icon .icon-inner,
.logo a,
.primary.is-underline,
.primary.is-link,
.badge-outline .badge-inner,
.nav-outline>li.active>a,
.nav-outline>li.active>a,
.cart-icon strong,
[data-color='primary'],
.is-outline.primary {
    color: #f30000;
}

/* Color !important */
[data-text-color="primary"] {
    color: #f30000 !important;
}

/* Background Color */
[data-text-bg="primary"] {
    background-color: #f30000;
}

/* Background */
.scroll-to-bullets a,
.featured-title,
.label-new.menu-item>a:after,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
button[type="submit"],
.button.wc-forward:not(.checkout):not(.checkout-button),
.button.submit-button,
.button.primary:not(.is-outline),
.featured-table .title,
.is-outline:hover,
.has-icon:hover .icon-label,
.nav-dropdown-bold .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold>li>a:hover,
.nav-dropdown-bold.dark .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold.dark>li>a:hover,
.header-vertical-menu__opener,
.is-outline:hover,
.tagcloud a:hover,
.grid-tools a,
input[type='submit']:not(.is-form),
.box-badge:hover .box-text,
input.button.alt,
.nav-box>li>a:hover,
.nav-box>li.active>a,
.nav-pills>li.active>a,
.current-dropdown .cart-icon strong,
.cart-icon:hover strong,
.nav-line-bottom>li>a:before,
.nav-line-grow>li>a:before,
.nav-line>li>a:before,
.banner,
.header-top,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover,
.button.primary:not(.is-outline),
input[type='submit'].primary,
input[type='submit'].primary,
input[type='reset'].button,
input[type='button'].primary,
.badge-inner {
    background-color: #f30000;
}

/* Border */
.nav-vertical.nav-tabs>li.active>a,
.scroll-to-bullets a.active,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
.accordion-title.active,
.featured-table,
.is-outline:hover,
.tagcloud a:hover,
blockquote,
.has-border,
.cart-icon strong:after,
.cart-icon strong,
.blockUI:before,
.processing:before,
.loading-spin,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover {
    border-color: #f30000
}

.nav-tabs>li.active>a {
    border-top-color: #f30000
}

.widget_shopping_cart_content .blockUI.blockOverlay:before {
    border-left-color: #f30000
}

.woocommerce-checkout-review-order .blockUI.blockOverlay:before {
    border-left-color: #f30000
}

/* Fill */
.slider .flickity-prev-next-button:hover svg,
.slider .flickity-prev-next-button:hover .arrow {
    fill: #f30000;
}

/* Background Color */
[data-icon-label]:after,
.secondary.is-underline:hover,
.secondary.is-outline:hover,
.icon-label,
.button.secondary:not(.is-outline),
.button.alt:not(.is-outline),
.badge-inner.on-sale,
.button.checkout,
.single_add_to_cart_button,
.current .breadcrumb-step {
    background-color: #f30000;
}

[data-text-bg="secondary"] {
    background-color: #f30000;
}

/* Color */
.secondary.is-underline,
.secondary.is-link,
.secondary.is-outline,
.stars a.active,
.star-rating:before,
.woocommerce-page .star-rating:before,
.star-rating span:before,
.color-secondary {
    color: #f30000
}

/* Color !important */
[data-text-color="secondary"] {
    color: #f30000 !important;
}

/* Border */
.secondary.is-outline:hover {
    border-color: #f30000
}

@media screen and (max-width: 549px) {
    body {
        font-size: 100%;
    }
}

body {
    font-family: "Questrial", sans-serif
}

body {
    font-weight: 0
}

body {
    color: #222020
}

.nav>li>a {
    font-family: "Questrial", sans-serif;
}

.mobile-sidebar-levels-2 .nav>li>ul>li>a {
    font-family: "Questrial", sans-serif;
}

.nav>li>a {
    font-weight: 0;
}

.mobile-sidebar-levels-2 .nav>li>ul>li>a {
    font-weight: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.off-canvas-center .nav-sidebar.nav-vertical>li>a {
    font-family: "Questrial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.banner h1,
.banner h2 {
    font-weight: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {
    color: #1f1d1d;
}

.alt-font {
    font-family: "Dancing Script", sans-serif;
}

.alt-font {
    font-weight: 400 !important;
}

.header:not(.transparent) .header-nav-main.nav>li>a {
    color: #000000;
}

.header:not(.transparent) .header-nav-main.nav>li>a:hover,
.header:not(.transparent) .header-nav-main.nav>li.active>a,
.header:not(.transparent) .header-nav-main.nav>li.current>a,
.header:not(.transparent) .header-nav-main.nav>li>a.active,
.header:not(.transparent) .header-nav-main.nav>li>a.current {
    color: #f30000;
}

.header-nav-main.nav-line-bottom>li>a:before,
.header-nav-main.nav-line-grow>li>a:before,
.header-nav-main.nav-line>li>a:before,
.header-nav-main.nav-box>li>a:hover,
.header-nav-main.nav-box>li.active>a,
.header-nav-main.nav-pills>li>a:hover,
.header-nav-main.nav-pills>li.active>a {
    color: #FFF !important;
    background-color: #f30000;
}

a {
    color: #2a2b2c;
}

/* Custom CSS Mobile */
@media (max-width: 549px) {
    #masthead .mobile-nav .header-button span {
        white-space: nowrap;
    }

    .tdk-bottom-fixed-contact {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .tdk-see-more-template {
        position: fixed;
        bottom: 20px;
        left: 2px;
        z-index: 100;
        max-width: 70px;
    }
}

.label-new.menu-item>a:after {
    content: "New";
}

.label-hot.menu-item>a:after {
    content: "Hot";
}

.label-sale.menu-item>a:after {
    content: "Sale";
}

.label-popular.menu-item>a:after {
    content: "Popular";
}
.wpcf7-list-items {
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.off-canvas-center .nav-sidebar.nav-vertical>li>a {
    font-family: "Questrial", sans-serif;
}

.alt-font {
    font-family: "Dancing Script", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {
    color: #1f1d1d;
}